.menu .button .transaction-investigation:before {
  content: '\e911';
}
.menu .button.selected#transactionInvestigation .menu-cursor {
  border-left-color: #9a95ab;
}
.menu .button.selected .menu-cursor .icon.transaction-investigation:before {
  color: #9a95ab;
}

.home-page .gridster .gs-w.TopRiskiestTransactions {
  cursor: default;
}
.home-page ul li > div .empty-transactions-cloud {
  display: block;
  position: absolute;
  top: 45%;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: osLight;
  opacity: 0.6;
}

.metric-page.transaction-page {
  h3 {
    text-align: left;
    font-family: 'osBold';
    text-transform: uppercase;
    font-size: 11px;
    margin: 0 0 21px 33px;
    font-weight: normal;
  }
  .business-selector {
    margin: 0 0 21px 33px;

    p {
      font-size: 10pt;
      line-height: 20px;
    }

    .drop-down{
      line-height: 18px;
      height: 22px;

      .options{
        .label {
          text-transform: capitalize;
        }
        &:before {
          content: attr(data-before);
        }
      }

      &.left{
        float: left;
      }

      .selector {
        font-family: osBold;
        line-height: 18px;
        padding-left: 0;
        padding-right: 2px;
        color:#434343;

        .label {
          font-size: 11px;
          text-transform: uppercase;
        }

        &:hover a:after{
          font-size: 24px;
          margin-left: -4px;
        }

        a {
          background-image: none;
          width: 16px;
          height: 16px;
          border-radius: 8px;
          margin-left: 0;

          &:after {
            @include icon();
            content: '\e601';
            font-size: 22px;
            margin-right: 4px;
            line-height: 16px;
            margin-left: -3px;

            -webkit-transition: margin-left 200ms ease-in-out, font-size 200ms ease-in-out;
            -moz-transition: margin-left 200ms ease-in-out, font-size 200ms ease-in-out;
            -o-transition: margin-left 200ms ease-in-out, font-size 200ms ease-in-out;
            transition: margin-left 200ms ease-in-out, font-size 200ms ease-in-out;
          }
        }
      }
      &.opened {
        .selector {
          background-color: #373737;
          color: #fff;
          border-radius:0;
        }
      }
      .cont {
        position: absolute;
      }
    }
  }

  .no-content {
    font-size: 14px;
    font-style: italic;
  }

  .description{
    display: none;
  }

  .risk-factors {
    text-align: center;
    margin-bottom: 21px;

    h3 {
      margin: 0 0 10px 0;
      color: #000;
      font-family: 'osBold';
      font-size: 11pt;
      font-weight: normal;
    }

    button {
      background-color: #fafafa;
      min-width: 80px;
      margin: 0 10px;
      height: 32px;
      line-height: 28px;
      max-height: 32px;
      padding: 0 20px 0 20px;
      font-size: 12px;
      font-family: osBold;
      text-transform: uppercase;
      -webkit-transition: all 200ms ease-in-out;
      -moz-transition: all 200ms ease-in-out;
      -o-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;
      border: 2px solid #eee;
      color: #999;

      &:hover{
        background-color: #eee;
        color: #000;
      }

      &:active, &:focus{
        outline:none;
      }

      &.active {
        background-color: #eee;
        color: #999;
        cursor: default;
      }
    }

  }

  .table-holder.with-risk-factors {
    .no-table-content {
      top: 140px;
      left: 36px;
    }
  }

  .show-more {
    background-color: transparent;
    color: #3c3c3c;
    display: block;
    margin: 50px auto;
    align-content: center;
    font-size: 10px;
    font-family: 'osExtraBold';
    padding: 10px 20px;
    border: solid 2px #3c3c3c;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

    &:hover {
      background-color: #3c3c3c;
      color: #fff;
    }

  }

  .filter-description{
    p {
      font-size: 10pt;
      line-height: 20px;
      margin: 12px 20px 20px 33px;
    }
  }
}
.transaction-investigation .rule-name pre {
  color: #9a95ab;
}
