// FIXME extract colors to a _colorTheme.scss
// FIXME nest components properly instead of too flat data-structure it is hard to see the impacts right away
.header-search {
  overflow:hidden;
  height:70px;
  display: block;
  background-color: #f4f4f4;

  .search-input {
    height: 48px;
    display: block;
    position: relative;
    padding: 6px 38px 6px 56px;
    background-repeat: no-repeat;
    background-position: left center;
    background-color: #f4f4f4;

    ::-webkit-input-placeholder { /* WebKit browsers */
      color: #999;
      font-family: 'osSemiBold';
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: #999;
      font-family: 'osSemiBold';
      opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: #999;
      font-family: 'osSemiBold';
      opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
      color: #999 ;
      font-family: 'osSemiBold';
    }

    &:before{
      font-family: "ced-icon";
      font-size: 32px;
      color: #999;
      content: '\e600';
      margin-left:-46px;
      line-height: 48px;

      position: absolute;
      font-weight: 600;
    }

    input {
      color: #ffa200;
      height:48px;
      border:none;
      display: inline-block;
      width: 100%;
      background-color: transparent;
      padding: 0;
      font-family: 'osBold';
      font-size: 20px;
      line-height: 48px;
      outline:0;
      letter-spacing: 2.5px;
      left:60px;

      &::-ms-clear{
        display:none;
      }
    }
    .close-wrap{
      overflow: hidden;
      display: inline-block;
      position: fixed;
      width: 36px;
      .close{
        line-height: 48px;
        text-align: center;
        cursor:pointer;
        width: 36px;
        font-family: "ced-icon"; font-size: 28px; margin-left: 30px;
        -webkit-transition: margin-left 500ms ease-out;
        -moz-transition: margin-left 500ms ease-out;
        -o-transition: margin-left 500ms ease-out;
        transition: margin-left 500ms ease-out;
      }
      &.visible .close{margin-left: -10px;}
    }

    .placeholder-content{
      color:#e1e1e1;
    }
  }

  .object-search-input {
    height: 48px;
    display: block;
    position: relative;
    padding: 6px 38px 6px 56px;
    background-repeat: no-repeat;
    background-position: left center;
    background-color: #f4f4f4;

    ::-webkit-input-placeholder { /* WebKit browsers */
      color: #999;
      font-family: 'osSemiBold';
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: #999;
      font-family: 'osSemiBold';
      opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: #999;
      font-family: 'osSemiBold';
      opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
      color: #999;
      font-family: 'osSemiBold';
    }

    &:before{
      font-family: "ced-icon";
      font-size: 32px;
      color: #999;
      content: '\e600';
      margin-left:-46px;
      line-height: 48px;
      position: absolute;
      font-weight: 600;
    }

    input {
      color: #c78ea1;
      height:48px;
      border:none;
      display: inline-block;
      width: 100%;
      background-color: transparent;
      padding: 0;
      font-family: 'osBold';
      font-size: 20px;
      line-height: 48px;
      outline:0;
      letter-spacing: 2.5px;
      left:60px;

      &::-ms-clear{
        display:none;
      }
    }
    .close-wrap{
      overflow: hidden;
      display: inline-block;
      position: fixed;
      width: 36px;
      .close{
        line-height: 48px;
        text-align: center;
        cursor:pointer;
        width: 36px;
        font-family: "ced-icon"; font-size: 28px; margin-left: 30px;
        -webkit-transition: margin-left 500ms ease-out;
        -moz-transition: margin-left 500ms ease-out;
        -o-transition: margin-left 500ms ease-out;
        transition: margin-left 500ms ease-out;
      }
      &.visible .close{margin-left: -10px;}
    }

    .placeholder-content{
      color:#e1e1e1;
    }
  }

  .results {
    margin-top: 1px;
    display: block;
    position: absolute;
    min-width: 504px;
    height: auto;
    max-height: 400px;
    left: 60px;
    z-index: 150000;
    overflow: auto;
    white-space: nowrap;
    background-color: #f4f4f4;
    // border-top: 1px solid #ececec;

    p {
      color:#ececec;
    }

    li.result-item{
      font-size: 14px;
      font-family: osBold;
      margin: 14px 16px;

      .label {
        background-color: #ececec;
        padding: 6px 10px;
        em {
          color: #ffa200;
          font-style: normal;
        }
      }
      ul {
        li {
          padding: 1px 0px 0px 0px;
          background-color: #f4f4f4;
          a {
            color:#262626;
            text-decoration: none;
            font-size: 12px;
            display: block;
            height: 32px;
            line-height: 32px;
            font-family: osRegular;
            border-bottom: 1px solid #e1e1e1;

            &:hover {
              background-color: #ececec;
            }

            &:focus {
              background-color: #ececec;
            }

            span {
              display: inline-block;
              margin-left: 24px;

              &:before {
                transition: opacity 1s;
                font-family: "ced-icon";
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                opacity: 0.8;
                line-height: 32px;
                content: '\e608';

                position: absolute;
                font-size: 16px;
                margin-left: -20px;
                font-weight: 600;
              }
              &:first-of-type:before{
                content: '\e62c';
                font-size: 22px;
                margin-left: -22px;
                font-weight: 200;
              }
            }
          }
        }
      }
    }

    li.object-search-results-item{
      font-size: 14px;
      font-family: osBold;
      margin: auto 16px auto auto;
      margin-inline-end: 32px;
      cursor: pointer;
      width:100%;
      ul {
        li {
          padding: 0px 0px 0px 0px;
          background-color: #f4f4f4;
          a {
            color:#262626;
            text-decoration: none;
            font-size: 12px;
            display: block;
            height: 45px;
            line-height: 32px;
            font-family: osRegular;
            border-bottom: 1px solid #e1e1e1;

            &:hover {
              background-color: #ececec;
            }

            &:focus {
              background-color: #ececec;
            }

            .shortName{
              font-size: 14px;
              em {
                color: #c78ea1;
                font-style: normal;
              }
            }
            .type{
              margin-left: 5px;
              color: #74747c;
              opacity: 0.8;
            }
            .name{
              font-size: 10px;
              margin-top: -15px;
              margin-left: 25px;
            }

            span {
              display: inline-block;
              margin-left: 24px;

              &:before {
                transition: opacity 1s;
                font-family: "ced-icon";
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                opacity: 0.8;
                line-height: 32px;
                position: absolute;
                font-size: 16px;
                margin-left: -20px;
                font-weight: 600;
              }
              &:first-of-type:before{
                content: '\e62c';
                font-size: 22px;
                margin-left: -22px;
              }
            }
          }
        }
      }
    }

    li.information {
      color: #8c8c8c;
      font-size: 14px;
      margin: 14px 16px;
      .count{
        color: #c78ea1;
        border: none;
        background-color: transparent;
        padding: 0;
        font-family: 'osBold';
        font-size: 18px;
        line-height: 48px;
        outline: 0;
        letter-spacing: 2.5px;
      }
    }
    li.endMessage, li.loadingMessage{
      color: #c78ea1;
      font-size: 11px;
      font-style: italic;
      margin: 14px 16px;
    }
    li.loadingMessage{
      text-transform: uppercase;
    }
    li.loadingMessage span.load-icon:before{
      -webkit-transition: all 200ms ease-out;
      -moz-transition: all 200ms ease-out;
      -o-transition: all 200ms ease-out;
      transition: all 200ms ease-out;
    }
    li.loadingMessage span.load-icon{
      background-color: transparent;
    }
    li.loadingMessage span.icon-loading{
      -webkit-animation:rotating 1s cubic-bezier(0.61, 0.27, 0.45, 0.77) infinite;
      -moz-animation:rotating 1s cubic-bezier(0.61, 0.27, 0.45, 0.77) infinite;
      -ms-animation:rotating 1s cubic-bezier(0.61, 0.27, 0.45, 0.77) infinite;
      -o-animation:rotating 1s cubic-bezier(0.61, 0.27, 0.45, 0.77) infinite;
      animation:rotating 1s cubic-bezier(0.61, 0.27, 0.45, 0.77) infinite;
      background-color:unset;
    }
    li.loadingMessage span.icon-loading:before{
      font-family: 'ced-icon';
      content:'\e639';
      color: #c78ea1;
      font-size: 14px;
    }
    li.invalid{
      color: #c78ea1;
      font-size: 14px;
      font-style: italic;
      margin: 14px 16px;
    }
  }

  .configure {

  }
}
