// FIXME extract colors to a _colorTheme.scss
// FIXME nest components properly instead of too flat data-structure it is hard to see the impacts right away
.aed-lqm {
  $licenceHeight:82px;

  .breadcrumb {
    top:60px + $licenceHeight;
  }
  .home-page {
    top: 60px + $licenceHeight;
  }
  .drill-page {
    top: 120px + $licenceHeight;
  }
}

.license-state {
  background-color: #fff;
  height: 82px;
  border-bottom: #dfdfdf solid 1px;
  position: absolute;
  left: 60px;
  right: 0;
  top:70px;

  background: -webkit-linear-gradient(left, #552d3f , #36212a); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #552d3f, #36212a); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #552d3f, #36212a); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #552d3f , #36212a); /* Standard syntax */

  .message {
    margin-left: 80px;
    h2 {
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 4px;
      font-weight: 100;
    }

    p {
      color: #e24a56;
      font-size: 13px;
      a{
        cursor: pointer;
        border-bottom: 1px solid;
        font-weight: 700;
      }
    }


    &:before {
      font-family: 'ced-icon';
      content: '\e620';
      width: 40px;
      height: 40px;
      background-color: transparent;
      position: absolute;
      border-radius: 50%;
      border-color: #755666;
      color: #755666;
      margin-left: -62px;
      font-size: 40px;
      border: 3px solid;
      line-height: 40px;
      margin-top: 6px;
      font-weight: 700;
    }
  }

}
