$messageHeight:60px;

.aed-in-past {

  .breadcrumb {
    top:60px + $messageHeight;
  }
  .home-page {
    top: 60px + $messageHeight;
  }
  .drill-page {
    top: 120px + $messageHeight;

  }
  .breadcrumb, .home-page , .drill-page {
    $scale:20%;
    -webkit-filter: sepia($scale);
    -moz-filter: sepia($scale);
    filter: sepia($scale);
    // -webkit-filter: grayscale($scale);
    // -moz-filter: grayscale($scale);
    // filter: grayscale($scale);
  }
}

.aed-lqm.aed-in-past {
  $messagesHeight: $messageHeight + 82px;

  .breadcrumb {
    top:60px + $messagesHeight;
  }
  .home-page {
    top: 60px + $messagesHeight;
  }
  .drill-page {
    top: 120px + $messagesHeight;
  }
  .license-state{
    top:60px + $messageHeight ;
  }
}


.past-snapshot-information{
  height: $messageHeight - 20px;
  padding: 10px 16px;
  margin-left: 60px;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background-color: #21282b;
  color: #e5e3e4;

  &:before {
    font-family: 'ced-icon';
    content: '\e905';
    width: 34px;
    height: 34px;
    background-color: transparent;
    position: absolute;
    border-radius: 50%;
    border-color: #e5e3e4;
    color: #e5e3e4;
    margin-left: 4px;
    font-size: 34px;
    border: 3px solid;
    line-height: 34px;
    margin-top: 0px;
    font-weight: 700;
  }

  em {
    margin:0;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 4px;
    font-weight: 100;
    font-style: normal;
    color: #fff;
  }

  p {
    margin: 0 0 0 64px;
    font-size: 13px;
    position: relative;
  }

  a {
    text-transform: capitalize;
    text-decoration: underline;
    color: #f00041;
    cursor: pointer;
    outline: none;
  }
}
