// FIXME extract colors to a _colorTheme.scss
// FIXME nest components properly instead of too flat data-structure it is hard to see the impacts right away
.header {

  .icon:after{
    content: '';
    position: absolute;
    top: 50px;
    display: block;
    width: 4px;
    height: 4px;
    background-color: #000;
    margin-left: 14px;
    opacity: 0;
    border-radius: 4px;

    -webkit-transition: opacity 250ms ease-in-out;
    -moz-transition: opacity 250ms ease-in-out;
    -o-transition: opacity 250ms ease-in-out;
    transition: opacity 250ms ease-in-out;
  }
  .icon:hover:after{
    opacity: 1;
  }

  background-color: #fff;
  height: 60px;
  margin-left: 60px;
  position:relative;

  * {
    margin: 0;
    padding: 0;
  }

  .application-info {
    /* position: relative; */
    position: absolute; width: 100%;
  }

  h1 {
    display: inline-block;
    color: #999;
    font-family: 'osLight';
    padding-left: 140px;
    background: url(screen/cast-logo.png) no-repeat 15px center;
    background-size: 110px 12px;
    //font-size: 20px;
    font-size: 1.1em;
    font-weight: 100;
    line-height: 60px;
    letter-spacing: 0.5px;

    &.large {display: inline-block;}
    &.small {display: none;}
  }

  .drop-down.light-grey .selector:hover a:before {
    font-size: 45px;
    margin-left: -9px;
  }
  .drop-down.light-grey .selector a {
    background-image: none;

    &:before{
      @include icon();
      content: '\e601';
      font-size: 32px;
      line-height: 30px;
      margin-left: -3px;
      vertical-align: middle;

      -webkit-transition: margin-left 200ms ease-in-out, font-size 200ms ease-in-out;
      -moz-transition: margin-left 200ms ease-in-out, font-size 200ms ease-in-out;
      -o-transition: margin-left 200ms ease-in-out, font-size 200ms ease-in-out;
      transition: margin-left 200ms ease-in-out, font-size 200ms ease-in-out;
    }

  }
  .drop-down.light-grey.opened .selector a {
    &:before{
      @include icon();
      content: '\e601';
      font-size: 32px;
      margin-left: -3px;
      color: #fff;
      line-height: 30px;
    }
  }

  #application-selector {
    display: inline-block;
    float: right;
    color: #545454;
    font-family: 'osExtraBold';
    font-size: 1.1em;
    margin-top:13px;
    letter-spacing: 1px;
    padding-left: 5px;
    cursor: pointer;

    .drop-down{
      position: relative;
      .cont{
        position: absolute;
        top: 36px;
        .options:before {content: attr(data-before);}
        &.application-load-error {
          &:before {
            content: "Some applications are unavailable";
            padding: 7px 128px 7px 28px;
            white-space: nowrap;
            display: list-item;
            background-color: #f1f1f1;
            color: rgb(243, 39, 39);
            font-style: italic;
            cursor: default;
          }
        }
      }
      &.opened{
        .selector{
          &>span{font-size: 0.938em; padding-left: 7px;}
        }
      }
    }


  }

  #user-menu {
    font-family: 'osExtraBold';

    .drop-down{
      position: relative;
      .cont{
        position: absolute;
        background-color: #434343;
        color: #fff;
        .options{
          .selectable:hover{background-color: transparent;}
          li{
            padding: 10px 45px 10px 5px;
            &>div{
              &.reset-home-page:before{content: "\e80a";}
              &.change-language:before{content: "\e93d"; font-size: 22px; padding-left: 4px;}
              &.logout:before{content: "\e80b";}
              padding-left: 50px;
              &:before{font-family: "ced-icon"; font-size: 32px; display: inline-block; margin-top: -1px; height: 20px; line-height: 20px; width: 38px; margin-left: -40px; position: absolute;
                        -webkit-transition: margin-left 250ms ease-in-out;
                        -moz-transition: margin-left 250ms ease-in-out;
                        -o-transition: margin-left 250ms ease-in-out;
                        transition: margin-left 250ms ease-in-out;
              }
            }
          &:hover>div:before{margin-left: -45px;}
          }
          &:before{content: ""; display: none;}
        }
      }
      &.opened{
        .selector{
          &>span{font-size: 0.938em; padding-left: 7px; margin-right: -5px;}
        }
      }
    }
  }

  .application-block{
    position: absolute;
    left: 0;
    top:0;
    right: 256px;

    .application-info {
    }
    .search-box {
      position: relative; z-index: -1; width: 96px; float: right; opacity: 0;
      height: 60px;
      -webkit-transition: width 750ms ease-in-out, opacity 750ms ease-in-out;
      -moz-transition: width 750ms ease-in-out, opacity 750ms ease-in-out;
      -o-transition: width 750ms ease-in-out, opacity 750ms ease-in-out;
      transition: width 750ms ease-in-out, opacity 750ms ease-in-out;

      &.open{
        width: 100%;
        opacity: 1;
        -webkit-transition: width 750ms ease-in-out, opacity 250ms ease-in-out;
        -moz-transition: width 750ms ease-in-out, opacity 250ms ease-in-out;
        -o-transition: width 750ms ease-in-out, opacity 250ms ease-in-out;
        transition: width 750ms ease-in-out, opacity 250ms ease-in-out;
      }
      &.above{z-index: 1002;}
    }

    span{
      display: inline-block;
    }

    .menus {
      position: absolute;
      top: 0;
      right: 0;
      color: #999;
      font-family: 'osExtraBold';
      font-size: 0.87em;
      line-height: 28px;
      height: 60px;

      .icon:before {
        transition: all 0.4s;
        border-radius: 50%;
      }
      .menu-icons {
        float: right;

        .separator {
          height: 20px;
          margin-top: 10px;
          float: right;
          padding: 10px 0px 0px 0px;
          border-left: 1px solid #21282B;
        }

        .export-action {
          cursor: pointer;
          float: right;
          height: 32px;
          width: 45px;
          padding-top: 10px;
          padding-left: 5px;

          .export-icon {
            margin: 0 0 0 -8px;
            padding-left: 12px;
            float: left;
            height: 39px;
            text-decoration: none;
            &:before{
              @include icon();
              content: '\e93f';
              font-size: 27px;
              color: #21282B;
              line-height: 1.0;
              padding-left: 5px;
            }
          }

          .share-title {
            font-family: 'osSemiBold', Arial;
            font-size: 8px;
            line-height: 8px;
            color: black;
            text-align: center;
            text-decoration: none;
            float: left;
            padding: 0 1px 0px 1px;
            margin-top: -3px;
            clear: both;
          }
          &:hover {
            background-color: #000;
            height: 70px;
            .export-icon {
              &:before {
                @include icon();
                content: '\e940';
                color: #fff;
                line-height: 1.0;
              }
            }
            .share-title {
              color: #fff;
            }
          }
        }
        .search-action {
          cursor: pointer;
          float: right;
          height: 32px;
          width: 45px;
          padding-top: 10px;
          padding-left: 5px;

          .search-icon {
            @include icon();
            font-size: 30px;
            margin: 0 0 0 10px;
            padding-right: 13px;
            color: #000;
            float: left;
            height: 39px;
            text-decoration: none;
          }

          .search-title {
            font-family: 'osSemiBold', Arial;
            font-size: 8px;
            color: black;
            text-decoration: none;
            float: left;
            clear: both;
            padding: 0 0 0 8px;
            margin-top: -11px;
          }
          &:hover {
            background-color: #000;
            height: 70px;
            .search-icon {
              color: #fff;
            }
            .search-title {
              color: #fff;
            }
          }
        }

        .notification-box{
          position: relative;
          display: inline;
        }

        .filter-action {
          display: inline-block;
          cursor: pointer;
          float: right;
          position: relative;
          margin: 0px -8px 0px 2px;

          .critical-title {
            font-family: 'osSemiBold', Arial;
            font-size: 8px;
            color: #000;
            line-height: 8px;
            text-align: center;
            text-decoration: none;
            float: left;
            clear: both;
            padding: 0 14px 0px 5px;
            margin-top: -3px;
          }
          .inactive{
            color: #000000;
          }
          .active{
            color: #f02B44;
          }

          .critical-icon {
            margin: 10px 0 0 18px;
            padding-right: 14px;
            padding-left: 0px;
            float: left;
            height: 39px;
            text-decoration: none;

            &:before {
              cursor: pointer;
              @include icon();
              font-size: 30px;
              color: #f02B44;
              content: '\e809';
            }
          }

          .non-critical-icon {
            margin: 10px 0 0 18px;
            padding-right: 14px;
            padding-left: 0px;
            float: left;
            height: 39px;
            text-decoration: none;

            &:before {
              cursor: pointer;
              @include icon();
              font-size: 30px;
              color: #000000;
              content: '\e941';
            }
          }

          .activate{
            &:before {
              color: #000 !important;
              @include icon();
              content: '\e809';
            }
          }

          .activate-title{
            color: #000 !important;
          }
        }
        .disabled-selector{
          pointer-events: none;
          opacity: 0.5;
        }

        .snapshot-action {
          display: inline;
          cursor: pointer;
          float: right;
          width: 45px;
          padding-right: 5px;

          .time-icon {
            margin: 10px 0px 0 8px;
            float: left;
            height: 39px;
            text-decoration: none;

            &:before {
              cursor: pointer;
              @include icon();
              font-size: 30px;
              color: #000;
              content: '\e904';
            }
            &.in-past {
              &:before {
                content: '\e905';
                // border-radius: 50%;
              }
            }
          }

          .snapshot-title {
            font-family: 'osSemiBold', Arial;
            font-size: 8px;
            line-height: 8px;
            display: inline-block;
            color: #000;
            text-align: center;
            text-decoration: none;
            float: left;
            clear: both;
            padding: 0 14px 0px 5px;
            margin-top: -3px;
          }
          &:hover {
            background-color: #000;
            height: 70px;
            .time-icon {
              &:before {
                color: #fff;
              }
            }
            .snapshot-title {
              color: #fff;
            }
          }
        }
      }
      .snapshot-info {
        float: right;
        font-size: 10px;
        font-weight: normal;
        font-family: 'osRegular';
        color: black;
        margin: 14px 6px 0 0;
        text-align: right;
        transition: all 0.4s;

        .message {
          line-height: 16px;
          font-size: 12px;
          b {font-family: 'osExtraBold'; font-weight: normal;}
        }

        .message-small {
          line-height: 16px;
          font-size: 10px;
          b {font-family: 'osExtraBold'; font-weight: normal;}
        }
      }
      .label {
        text-transform: capitalize;
      }
    }
  }

  .user-block{
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 20px;


    #user-menu {
      color: #545454;
      float: right;
      height: 28px;
      margin: 14px 10px 0 0;
      font-size: 1.1em;

      .logout-icon{
        display: inline-flex;
        line-height: 24px;
        &:before{
          @include icon();
          content: "\0e627";
          font-size: 24px;
          color: #000;
          margin-right: 6px;
        }

      }

    }

    #user-picture{display: none;}
    .user-picture {
      @include icon();
      float: right;
      position: relative;
      height: 32px;
      width: 32px;
      margin: 14px 5px 0 0;
      font-size: 32px;
      z-index: 1;
      color: #e4e5e6;

      &:before {
        content:'';
        display: block;
        width: 32px;
        height: 32px;
        background-color: #373e41;
        position: absolute;
        z-index: -1;
        border-radius: 50%;
      }
      .notification {

        color: #fff;
        position: absolute;
        top: -4px;
        right: -4px;
        border-radius: 9px;
        min-width: 12px;
        height: 16px;
        line-height: 16px;
        font-size: 11px;
        padding: 0 2px;
        text-align: center;

        &.red {
          background-color: #fe011a;
        }
        &.blue {
          background-color: #0287ef;
        }
      }

    }


  }
}

.snapshot-selector{
  width: 600px;

  .snapshot-selector-chart{
    display: inline-block;
    width: 400px;
    padding: 20px;
    box-sizing: border-box;
    vertical-align: top;
  }
  .snapshot-selector-details{
    display: inline-block;
    width: 200px;

    h3 {
      margin: 4px 0 2px 0;
      font-size: 0.9em;
    }
    p{
      font-size: 0.8em;
      .snapshot-select-warning {
        font-style: italic;
      }
    }
    .multiple-snapshot-warning {
      font-style: italic;
      font-size: 0.7em;
      margin-bottom: 10px;
    }
    .reload-warning{
      font-style: italic;
      font-size: 0.7em;
    }

    button {
      border: 2px solid #017eff;
      color:#017eff;
      background-color: #fafafa;
      display: block;
      min-width: 80px;
      margin: 14px auto 14px 0;
      height: 32px;
      line-height: 28px;
      max-height: 32px;
      padding: 0 20px 0 20px;
      font-size: 12px;
      font-family: osBold;
      text-transform: uppercase;
      -webkit-transition: all 200ms ease-in-out;
      -moz-transition: all 200ms ease-in-out;
      -o-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;

      &:hover {
        color: #fff;
        background-color: #017eff;
      }

      &:disabled{
        border: 2px solid #cacaca;
        color:#cacaca;
        background-color: #fafafa;
        &:hover {
          color:#cacaca;
          background-color: #fafafa;
        }
      }
    }
  }

  .snapshot-selector-warning{
      font-style: italic;
      margin:10px;
      color: #f00041;
      font-size: 0.8em;
      &:before {
        @include icon();
        content: '\e616';
        float: left;
        font-size: 16px;
        color: #f00041;
        line-height: 16px;
      }
  }

}

@media (max-width: 1250px){
  .header {

    h1 {

      &.large {
        display: none;
      }
      &.small {
        display: inline-block;
      }
    }
  }
}

.auto-cursor {
  cursor: auto;
}
.critical-notification {
  position: absolute;
  line-height: 9px;
  min-width: 360px;
  z-index: 9999;
  left: -7.7em;

  .notification-popup {
    background-color: #f4f6f7;
    margin-top: 85px;
    opacity: 1;
    transition: all 1s;
    padding: 10px 50px 10px 10px;
    position: absolute;
    -webkit-box-shadow: 0px 8px 28px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 8px 28px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 28px 0px rgba(0,0,0,0.2);

    .remove-notification {
      position: absolute;
      line-height: 1;
      top: 28%;
      right: 5px;
      width: 24px;
      height: 24px;
      cursor: pointer;
      color: #21292c;

      &:after {
        @include icon();
        content: '\e62d';
        height: 24px;
        width: 24px;
        font-size: 24px;
        color: #21292c;
      }
    }
    .message {
      font-size: 8px;
      color: black;
      cursor: default;
      font-family: 'osRegular';
      span{
        color:red;
        font-family: 'osBold';
      }
    }
    &:after {
      bottom: 5%;
      left: 50%;
      top: -29px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      border-color: transparent;
      border-bottom-color: #f1f1f1;
      border-width: 15px;
      margin-left: -20px;
    }

    &.align-drop-down {
      &:after {
        left: 85%;
      }
    }
  }
}