@font-face {
  font-family: 'ced-icon';
  src:  url('fonts/ced-icon.eot?uh0341');
  src:  url('fonts/ced-icon.eot?uh0341#iefix') format('embedded-opentype'),
    url('fonts/ced-icon.ttf?uh0341') format('truetype'),
    url('fonts/ced-icon.woff?uh0341') format('woff'),
    url('fonts/ced-icon.svg?uh0341#ced-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ced-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-AIP:before {
  content: "\e953";
}
.icon-aad-logo:before {
  content: "\e938";
}
.icon-imaging-system-logo:before {
  content: "\e935";
}
.icon-user2:before {
  content: "\e92f";
}
.icon-group:before {
  content: "\e932";
}
.icon-aic-logo:before {
  content: "\e923";
}
.icon-dmt-logo:before {
  content: "\e91e";
}
.icon-cms-logo:before {
  content: "\e914";
}
.icon-delete-xlarge:before {
  content: "\e63e";
}
.icon-iceberg:before {
  content: "\e60f";
}
.icon-cast:before {
  content: "\e920";
}
.icon-reportgen:before {
  content: "\e958";
}
.icon-PDF:before {
  content: "\e956";
}
.icon-XLS:before {
  content: "\e957";
}
.icon-pin:before {
  content: "\e936";
}
.icon-tools:before {
  content: "\e92b";
}
.icon-cancel:before {
  content: "\e929";
}
.icon-edit:before {
  content: "\e926";
}
.icon-view:before {
  content: "\e925";
}
.icon-applications:before {
  content: "\e924";
}
.icon-notification2:before {
  content: "\e91f";
}
.icon-link:before {
  content: "\e901";
}
.icon-export:before {
  content: "\e638";
}
.icon-drop-down:before {
  content: "\e601";
}
.icon-search:before {
  content: "\e600";
}
.icon-delete:before {
  content: "\e918";
}
.icon-configure2:before {
  content: "\e913";
}
.icon-run:before {
  content: "\e90d";
}
.icon-snapshot-compare:before {
  content: "\e952";
}
.icon-snapshot:before {
  content: "\e93a";
}
.icon-version:before {
  content: "\e93b";
}
.icon-reject:before {
  content: "\e930";
}
.icon-accept:before {
  content: "\e931";
}
.icon-consolidation:before {
  content: "\e91c";
}
.icon-analysis:before {
  content: "\e91d";
}
.icon-current-version:before {
  content: "\e912";
}
.icon-upload-measurement:before {
  content: "\e917";
}
.icon-universal:before {
  content: "\e939";
}
.icon-web-service:before {
  content: "\e937";
}
.icon-dotnet:before {
  content: "\e933";
}
.icon-ms-sql:before {
  content: "\e934";
}
.icon-mainframe:before {
  content: "\e91b";
}
.icon-pl-sql:before {
  content: "\e919";
}
.icon-cobol:before {
  content: "\e915";
}
.icon-java:before {
  content: "\e916";
}
.icon-tqi:before {
  content: "\e605";
}
.icon-security:before {
  content: "\e606";
}
.icon-efficiency:before {
  content: "\e622";
}
.icon-robustness:before {
  content: "\e628";
}
.icon-changeability:before {
  content: "\e62a";
}
.icon-transferability:before {
  content: "\e62b";
}
.icon-business-criteria:before {
  content: "\e90e";
}
.icon-default-bc:before {
  content: "\e637";
}
.icon-best-practices:before {
  content: "\e631";
}
.icon-green-it:before {
  content: "\e632";
}
.icon-maintenability:before {
  content: "\e633";
}
.icon-architectural-design:before {
  content: "\e634";
}
.icon-cloud2:before {
  content: "\e90c";
}
.icon-documentation-bc:before {
  content: "\e635";
}
.icon-TPV:before {
  content: "\e955";
}
.icon-tiles:before {
  content: "\e807";
}
.icon-trends:before {
  content: "\e805";
}
.icon-changeability2:before {
  content: "\e806";
}
.icon-transferability2:before {
  content: "\e800";
}
.icon-top5-rules:before {
  content: "\e801";
}
.icon-top5-riskiest:before {
  content: "\e802";
}
.icon-technical-debt:before {
  content: "\e803";
}
.icon-size:before {
  content: "\e804";
}
.icon-sei-maintenance:before {
  content: "\e654";
}
.icon-security2:before {
  content: "\e655";
}
.icon-rule-complience:before {
  content: "\e656";
}
.icon-robustness2:before {
  content: "\e650";
}
.icon-risk-mapping:before {
  content: "\e651";
}
.icon-ratio-formula:before {
  content: "\e652";
}
.icon-programming-practises:before {
  content: "\e653";
}
.icon-function-point:before {
  content: "\e602";
}
.icon-health-factor:before {
  content: "\e64d";
}
.icon-notification:before {
  content: "\e64e";
}
.icon-object:before {
  content: "\e64f";
}
.icon-documentation2:before {
  content: "\e648";
}
.icon-file:before {
  content: "\e649";
}
.icon-critical-violation:before {
  content: "\e64a";
}
.icon-cyclomatic:before {
  content: "\e64b";
}
.icon-violation2:before {
  content: "\e64c";
}
.icon-code:before {
  content: "\e643";
}
.icon-comment:before {
  content: "\e644";
}
.icon-artefact:before {
  content: "\e645";
}
.icon-backfired:before {
  content: "\e646";
}
.icon-check2:before {
  content: "\e647";
}
.icon-complexity:before {
  content: "\e909";
}
.icon-architectural-design2:before {
  content: "\e642";
}
.icon-documentation3:before {
  content: "\e92c";
}
.icon-xml:before {
  content: "\e906";
}
.icon-configure:before {
  content: "\e907";
}
.icon-database:before {
  content: "\e908";
}
.icon-time:before {
  content: "\e904";
}
.icon-past:before {
  content: "\e905";
}
.icon-reset:before {
  content: "\e80a";
}
.icon-cloud:before {
  content: "\e90b";
}
.icon-log-out:before {
  content: "\e80b";
}
.icon-strength:before {
  content: "\e90f";
}
.icon-impact:before {
  content: "\e910";
}
.icon-goto-aed:before {
  content: "\e808";
}
.icon-share2:before {
  content: "\e940";
}
.icon-share-stroke:before {
  content: "\e93f";
}
.icon-language:before {
  content: "\e93d";
}
.icon-educationView:before {
  content: "\e954";
}
.icon-Advanced-SearchTool:before {
  content: "\e951";
}
.icon-tagwithpadding:before {
  content: "\e94b";
}
.icon-tag:before {
  content: "\e94a";
}
.icon-reach-documentation:before {
  content: "\e93e";
}
.icon-add-to-action-plan:before {
  content: "\e927";
}
.icon-reach-object:before {
  content: "\e92d";
}
.icon-reach-violation:before {
  content: "\e91a";
}
.icon-transaction:before {
  content: "\e911";
}
.icon-reduce:before {
  content: "\e902";
}
.icon-expand:before {
  content: "\e903";
}
.icon-critical-violation-full:before {
  content: "\e809";
}
.icon-critical-violation-disable:before {
  content: "\e941";
}
.icon-back2-large:before {
  content: "\e63d";
}
.icon-loading-icon:before {
  content: "\e639";
}
.icon-close:before {
  content: "\e62d";
}
.icon-module:before {
  content: "\e636";
}
.icon-distribution-graph:before {
  content: "\e62f";
}
.icon-distribution:before {
  content: "\e630";
}
.icon-qm-to-dv:before {
  content: "\e62e";
}
.icon-go2:before {
  content: "\e62c";
}
.icon-quality-investigation:before {
  content: "\e623";
}
.icon-application-investigation:before {
  content: "\e624";
}
.icon-advanced-search:before {
  content: "\e629";
}
.icon-exclusion:before {
  content: "\e928";
}
.icon-action-plan:before {
  content: "\e626";
}
.icon-log-off:before {
  content: "\e627";
}
.icon-favorite-2:before {
  content: "\e61c";
}
.icon-favorite-spline:before {
  content: "\e61d";
}
.icon-help:before {
  content: "\e61e";
}
.icon-share:before {
  content: "\e61f";
}
.icon-user:before {
  content: "\e620";
}
.icon-source-code:before {
  content: "\e60a";
}
.icon-qm-violations:before {
  content: "\e921";
}
.icon-technical-content:before {
  content: "\e922";
}
.icon-documentation:before {
  content: "\e60b";
}
.icon-details:before {
  content: "\e60c";
}
.icon-findings:before {
  content: "\e60d";
}
.icon-object-violations:before {
  content: "\e60e";
}
.icon-dot-selection:before {
  content: "\e609";
}
.icon-dot-selection2:before {
  content: "\e92a";
}
.icon-next:before {
  content: "\e608";
}
.icon-home:before {
  content: "\e603";
}
.icon-notes-fat:before {
  content: "\e604";
}
.icon-global-filter:before {
  content: "\e90a";
}
.icon-hierarchical:before {
  content: "\e946";
}
.icon-forcelink:before {
  content: "\e947";
}
.icon-concentric:before {
  content: "\e945";
}
.icon-panel-close:before {
  content: "\e944";
}
.icon-layout:before {
  content: "\e93c";
}
.icon-focus-center:before {
  content: "\e942";
}
.icon-zoom-out:before {
  content: "\e943";
}
.icon-zoom-in:before {
  content: "\e948";
}
.icon-do-ungroup:before {
  content: "\e949";
}
.icon-do-group:before {
  content: "\e94c";
}
.icon-group2:before {
  content: "\e94d";
}
.icon-lasso-select:before {
  content: "\e94e";
}
.icon-square-select:before {
  content: "\e94f";
}
.icon-direct-tool:before {
  content: "\e950";
}
.icon-corrected:before {
  content: "\e63f";
}
.icon-pending-correction:before {
  content: "\e640";
}
.icon-empty:before {
  content: "\e63c";
}
.icon-information-note:before {
  content: "\e607";
}
.icon-action-plan-small:before {
  content: "\e92e";
}
.icon-risk2:before {
  content: "\e61b";
}
.icon-priority:before {
  content: "\e641";
}
.icon-variance-previous:before {
  content: "\e63a";
}
.icon-variance-baseline:before {
  content: "\e63b";
}
.icon-risk:before {
  content: "\e616";
}
.icon-compliance:before {
  content: "\e617";
}
.icon-violation:before {
  content: "\e618";
}
.icon-check:before {
  content: "\e619";
}
.icon-status:before {
  content: "\e61a";
}
.icon-critical:before {
  content: "\e615";
}
.icon-score:before {
  content: "\e610";
}
.icon-variance:before {
  content: "\e611";
}
.icon-weight:before {
  content: "\e612";
}
.icon-plus:before {
  content: "\e621";
}
.icon-filter-selector:before {
  content: "\e900";
}
.icon-order-down:before {
  content: "\e613";
}
.icon-order-up:before {
  content: "\e614";
}
