//TODO

<div class="business-criteria icon-{{parameters.business}}">
  <h2>{{t "Top riskiest components"}}</h2>
  <h3 class="">{{t "for"}}</h3><div id="business-selector" class="business-selector"></div>
</div>
<div class="cloud-container" ></div>
 
