// FIXME extract colors to a _colorTheme.scss
// FIXME nest components properly instead of too flat data-structure it is hard to see the impacts right away
.application-listing {
  position: absolute;
  left: 50%;
  right: 0;
  top: 0;
  bottom: 0;

  background: #dbdbdd url(screen/login/login_bg_light.jpg) no-repeat center;
  background-size: 100% 100%;

  .listing-header {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    height: 136px;

    div#user-menu {
      padding-left: 86px;
      font-size: 28px;
      font-weight: 700;

      &:before {
        $w: 40px;
        font-family: "ced-icon";
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        content: '\e620';
        display: block;
        width: $w;
        height: $w;
        font-size: $w;
        line-height: $w;
        color: #373e41;
        border: 2px solid #373e41;
        position: absolute;
        border-radius: 50%;
        margin-left: -56px;
        margin-top: 12px;
        font-weight: 700;
      }
    }

    .drop-down {
      position: absolute;
      height: 39px;

      .cont {
        position: absolute;
        .options:before {
          content: attr(data-before);
        }
        .options {
          font-size: 0.75em;
        }
        li {
          & > div {
            padding-left: 20px;
            &.logout:before {
              content: "\e80b";
            }
            &.configuration:before {
              content: "\e907";
            }
            &:before {
              font-family: "ced-icon";
              font-size: 32px;
              display: inline-block;
              margin-top: 1px;
              height: 20px;
              line-height: 20px;
              width: 38px;
              margin-left: -40px;
              position: absolute;
              -webkit-transition: margin-left 250ms ease-in-out;
              -moz-transition: margin-left 250ms ease-in-out;
              -o-transition: margin-left 250ms ease-in-out;
              transition: margin-left 250ms ease-in-out;
            }
          }
          &:hover > div:before {
            margin-left: -45px;
          }
        }
        &:before{content: ""; display: none;}
      }
    }

    .drop-down.light-grey .selector {
      &.disabled {
        cursor:default
      }
      background: none;
      color: #4c5256;
    }

    .drop-down.light-grey.opened .selector {
      color: #4c5256;
      background: none;
    }
    .drop-down .selector span {
      margin: 0;
    }

    .drop-down.light-grey .selector a:before {
      font-family: "ced-icon";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      content: '\e601';
      font-size: 32px;
      line-height: 30px;
      margin-left: -3px;
      padding-right: 8px;
    }
    .drop-down.light-grey .selector a {
      background-image: none;
    }
    .drop-down.light-grey .cont {
      background-color: #f0f0f0;
      color: #4c5256;
    }
    .drop-down.light-grey .options .selectable:hover {
      background-color: #4c5256;
    }

    h3 {
      padding-left: 86px;
      font-size: 16px;
      margin-top: 40px;
      //      letter-spacing: -0.02em;
    }
  }

  .listing-filterer {
    position: absolute;
    top: 156px;
    left: 86px;
    right: 40px;
    height: 36px;

    input {
      display: block;
      height: 36px;
      line-height: 32px;
      width: 100%;

      font-size: 22px;
      font-weight: 100;

      background: none;
      border: none;
      border-left: 1px #2f3438 solid;
      padding-left: 12px;
      -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
      -moz-box-sizing: border-box; /* Firefox 1 - 28 */
      box-sizing: border-box;
      transition: background 0.4s;
      &:focus {
        outline: none;
        background-color: rgba(255, 255, 255, .4);
      }

      &::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #c9c9c9;
        font-size: 22px;
        line-height: 32px;
      }
      &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #c9c9c9;
        opacity: 1;
        font-size: 22px;
        line-height: 32px;
      }
      &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #c9c9c9;
        opacity: 1;
        font-size: 22px;
        line-height: 32px;
      }
      &:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #c9c9c9;
        font-size: 22px;
        line-height: 32px;
      }
    }

  }

  .listing-applications {
    position: absolute;
    top: 192px + 10px;
    left: 86px;
    right: 40px;
    bottom: 40px;
    overflow: auto;

    .error-message {
      color: #e13232;
      font-style: italic;
    }

    ul {
      li {
        a {
          display: block;
          line-height: 24px;
          border-bottom: 1px solid #d6d6d6;
          cursor: pointer;
          padding-left: 12px;
          &::after {
            opacity: 0;
            @include icon();
            line-height: 24px;
            height: 24px;
            width: 24px;
            content: '\e62c';
            font-size: 24px;
            position: absolute;
            right: 0;
            color: #d6d6d6;
            background-color: #4c5256;
          }
          &:hover {
            color: #d6d6d6;
            background-color: #3a3a3a;

            &:after {
              opacity: 1;
            }
          }
        }
      }
    }

  }

  .dialog {

    background-color: #f7f7f7;

    width: 800px;
    margin: 50px auto;
    padding: 20px 0;

    * {
      margin: 0;

    }

    h1 {
      color: #999;
      font-family: 'osLight';
      padding-top: 10px;
      background: url(screen/cast-logo.png) no-repeat center 0px;
      background-size: 110px 12px;
      font-size: 1.1em;
      font-weight: 100;
      line-height: 60px;
      letter-spacing: 0.5px;
      text-align: center;
    }

    h2 {
      color: #999;
      font-family: 'osLight';
      background-size: 110px 12px;
      font-size: 1em;
      font-weight: 100;
      margin: 0 auto;
      letter-spacing: 0.5px;
      text-align: center;
    }

    ul {

      li {
        text-align: center;

        a {
          cursor: pointer;
          display: block;

          &:hover {
            color: #fff;
            background-color: #e24a56;;
          }
        }

        &:hover {

        }

      }

    }

  }

}

@media screen and (max-width: 880px) {
  .application-listing {
    position: absolute;
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
