// FIXME extract colors to a _colorTheme.scss
// FIXME nest components properly instead of too flat data-structure it is hard to see the impacts right away
// ---------------------------------------------------------------
// -------------------------SCREEN STYLE--------------------------
// ---------------------------------------------------------------
.sections {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  nav {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    width: 52px;

    max-width: 60px;

    a {
      display: block;
      width: 38px;
      height: 46px;
      cursor: pointer;
      margin: 15px 0 15px 9px;
      position: relative;

      &:first-of-type{margin-top: 6px;}

      .notification {
        color: #fff;
        position: absolute;
        right: 12px;
        border-radius: 9px;
        min-width: 12px;
        height: 16px;
        line-height: 16px;
        font-size: 10px;
        padding: 0 2px;
        background-color: #c4c4c4;
        text-align: center;
      }

      &:before {
        @include icon();
        font-size: 32px;
        color: #c4c4c4;
        line-height: 46px;
        display: inline-block;
        width: 38px;
        text-align: center;
      }
      &:after {
        background-color: #000;
        content: "";
        width: 5px;
        height: 5px;
        position: absolute;
        opacity: 0;
        top: 20px;

        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        -o-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
      }

      &#violations:before {
        content: '\e60e';
      }
      &#distributions:before {
        content: '\e630';
      }
      &#qm-violations:before {
        content: '\e921';
      }
      &#technical-content:before {
        content: '\e922';
      }
      &#computing-details:before {
        content: '\e60c';
      }
      &#documentation:before {
        content: '\e60b';
      }
      &#source-code:before {
        content: '\e60a';
      }
      &#violation-status:before {
        content: '\e60d';
      }
      &#notes:before {
        content: '\e604';
      }
      &#hf:before{
        content:'\e64d';
        font-size: 26px;
      }
      &#transactions:before{
        content:'\e64f';
      }

      &.selected {
        &:before {
          color: #3c3c3c;
        }
        &:after {
          opacity: 1;
          height: 46px;
          top: 0;
        }
        .notification {
          color: #fff;
          background-color: #3c3c3c;
        }
      }

      &:hover {
        &:after {
          opacity: 1;
        }
      }
    }
  }

  .section-hidden-block {
    position: absolute;
    top: 0;
    right: 0;
    left: 52px;
    padding: 10px 10px 10px 30px;
//    background-color: #3c3c3c;

    h2, h3 {
      margin: 0;
      padding: 0;
      color: #fff;
    }
    h2 {
      font-family: 'osLight';
      font-size: 14px;
      letter-spacing: 0.5px;
    }
    h3 {
      font-family: 'osRegular';
      font-size: 16px;
      letter-spacing: 0.5px;
    }
  }

  .sections-content {
    position: absolute;
    left: 52px;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    overflow-x: hidden;
    transition: top 0.6s;

    .no-violations {
      font-size: 13px;
      font-style: italic;
      color:#E82540;
      margin-top: 10px;
    }

    .object-violation {

      background-color: #3c3c3c;
      h2, h3 {
        color: #fff;
      }

    }

    section {
      position: relative;
      margin: 0;
      background-color: #fff;
      height: 90px;
      padding: 10px 0 10px 30px;
      cursor: pointer;
//      cursor: pointer;

      .closed-section-content {

        h2 {
          margin-bottom: 11px;
        }

        div {
          font-size: 12px;
          font-family: osRegular;
          margin-left: 0px;

          em {
            font-style: normal;
            font-family: osBold;
          }
        }
      }

      &.open {
        cursor: auto;
        padding-bottom: 0px;
        height: auto;
        /* overflow-x: auto; */
        min-width: 200px;
        .detail-header {

          #priority-menu {
            height: 38px;
            float: left;
            margin-right: 4px;
            &.disabled{
              display: none;
            }

            .drop-down.light-grey .selector a {
              background-image: none;
              &:before{
                font-family: "ced-icon";
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                content: '\e601';
                font-size: 32px;
                line-height: 30px;
                margin-left: -3px;
                padding-right: 8px;
              }
            }
            .opened .selector {
              color: #fff !important;
              background-color: #21282b !important;
            }
            .drop-down {
              position: relative;
              height: 38px;
              overflow:visible;
              margin-right: 10px;
              margin-top: -10px;
              .selector {
                background-color: #f1f1f1;
                color: #000;
                line-height: 30px;
                padding-left: 1px;
                padding-right: 1px;
                .tooltiptext {
                  visibility: hidden;
                  font-size: 12px;
                  width: 140px;
                  top: 110%;
                  font-family: 'osLight', Arial;
                  left: 10%;
                  margin-left: -40px;
                  background-color: #0f0019;
                  line-height: 125%;
                  color: #ffffff;
                  text-align: left;
                  padding: 5px 7px 7px 5px;
                  border-radius: 3px;
                  position: absolute;
                  z-index:3;
                  text-transform: none;
                }
                &:after {
                  visibility: hidden;
                  content: "";
                  position: absolute;
                  bottom: -10%;
                  left: 50%;
                  margin-left: -5px;
                  border-width: 5px;
                  border-style: solid;
                  border-color: transparent transparent #0f0019 transparent;
                }

                &:hover {
                  .tooltiptext
                  {
                    visibility: visible;
                  }
                  &:after{
                    visibility: visible;
                  }
                }

                span{
                  font-size: 13px;
                  font-family: osbold;
                  text-transform: uppercase;
                  margin-left:2px;
                }
                span.add {
                  width: 30px;
                  height: 16px;
                  display: inline-block;

                  &:before{
                    font-family: "ced-icon";
                    font-style: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    content: '\e626';
                    font-size: 24px;
                    position: absolute;
                    margin-left: 1px;
                  }
                }
              }
              .cont{
                position: absolute;
                right: auto;
                left: 0;

                .options {
                  line-height: 26px;

                  .selectable {
                    padding-left: 5px;
                    padding-right: 5px;
                    border-top: 1px solid #e0e1e2;
                    }
                  .disabled{
                    margin: 0 auto;
                    position: relative;
                    font-family: 'osRegular';
                    color: #dcdcdc;
                    cursor: default;
                    text-decoration: none;
                    pointer-events: none;
                  }

                  .label {
                    font-size: 12px;
                    text-transform: capitalize;
                    &.hover{
                      color: #ffffff;
                    }
                    span {
                      margin-right: 10px;
                    }

                    span.add-to-action-plan {
                      width: 18px;
                      height: 16px;
                      display: inline-block;
					  margin-left: 15px;
                      padding-right: 7px;

                      &:before{
                        font-family: "ced-icon";
                        font-style: normal;
                        font-variant: normal;
                        text-transform: none;
                        line-height: 1;
                        content: '\e927';
                        font-size: 24px;
                        position: absolute;
                        margin-left: 4px;
                      }
                    }

                    span.exclude-violations {
                      width: 18px;
                      height: 16px;
                      display: inline-block;
					  margin-left: 15px;
                      padding-right: 7px;

                      &:before{
                        font-family: "ced-icon";
                        font-style: normal;
                        font-variant: normal;
                        text-transform: none;
                        line-height: 1;
                        content: '\e928';
                        font-size: 24px;
                        position: absolute;
                        margin-left: 4px;
                      }
                    }

                    span.educate-violations {
                      width: 40px;
                      height: 16px;
                      display: inline-block;

                      &:before{
                        font-family: "ced-icon";
                        font-style: normal;
                        font-variant: normal;
                        text-transform: none;
                        line-height: 1;
                        content: '\e92c';
                        font-size: 24px;
                        position: absolute;
                        margin-left: 22px;
                      }
                    }

                    span.text{
                      text-transform: none;
                      .bold{
                        font-weight: bold;
                        font-size: 12px;
                        margin-right: 0px;
                      }
                    }
                  }
                  &:before{
                    content: attr(data-before);
                    background-color: #21282b ;                  }
                }
              }
            }
          }

          .close-section {
            width: 38px;
            cursor: pointer;
            position: absolute;
            right: 20px;
            background-color: #f4f4f4;
            margin-top: -7px;
            -webkit-transition: background-color 200ms ease-in-out;
            -moz-transition: background-color 200ms ease-in-out;
            -o-transition: background-color 200ms ease-in-out;
            transition: background-color 200ms ease-in-out;

            &:after {
              @include icon();
              content: '\e62d';
              line-height: 20px;
              content: '\e62d';
              line-height: 38px;
              color: #000;
              font-size: 15px;
              margin-left: 11px;

              -webkit-transition: color 200ms ease-in-out;
              -moz-transition: color 200ms ease-in-out;
              -o-transition: color 200ms ease-in-out;
              transition: color 200ms ease-in-out;
            }

            &:hover {
              background-color: #4c4c4c;
              &:after {
                color: #fff;
              }
            }
          }
        }

        footer {
          /* border-bottom: solid 2px #bcbcbc;
          margin-bottom: 0px;
          margin-left: 0px;
          margin-right: -20px; */
          position: static;
          margin-top: 40px;
        }
        // Define here the sections that needs to push the footer a bit more far away
        .push-footer footer {
          margin-top: 24px;
        }

        > div {
          position: relative;
          /*min-width: 600px; */
        }
        .link-to-component-browser {
          span {
            a {
              font-size: 0;
              opacity: 0.8;
              width: 32px;
              height: 32px;
              cursor: pointer; // IE bug
              display: inline-block;
              &:before {
                cursor: pointer;
                @include icon();
                font-size: 32px;
                color: #4c4c4c;
                line-height: 32px;
                display: inline-block;
                width: 32px;
                text-align: center;
                content: '\e92d';
              }
            }
          }
        }
        .detail-actions {
          position: absolute;
          top: -7px;
          right: 58px;
          display: inline-block;
        }
        #show-more{
          background-color: transparent;
          margin: 50px auto;
          display: table;

          .drop-down.light-grey .selector a {
            background-image: none;

            &:before{
              font-family: "ced-icon";
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              content: '\e601';
              font-size: 32px;
              line-height: 30px;
              margin-left: -3px;
              padding-right: 8px;
            }
          }

          .drop-down {
            display: inline;
            position: relative;
            height: 38px;
            .selector {
              border: 2px solid #000;
              line-height: 30px;
              padding-left: 4px;
              padding-right: 4px;

              span{
                font-size: 12px;
                font-family: 'osExtraBold';
                text-transform: uppercase;
              }
            }

            .cont{
              content: '';
              position: absolute;
              .options {
                line-height: 26px;
                width: 125px;

                .selectable {
                  padding-left: 10px;
                  padding-right: 20px;
                  padding-top: 0;
                  padding-bottom: 0;
                  border-top: 1px solid #e0e1e2;

                  &:hover{
                    span{
                      .action-plan-priority-fill{
                        background-color: #fff;
                        border: 1px solid #fff;
                      }
                      .action-plan-priority-empty{
                        background-color: transparent;
                      }
                    }
                  }
                }

                .label {
                  font-size: 12px;
                  text-transform: capitalize;
                  text-align: center;
                  span {
                    margin-right: 10px;
                    padding-left: 30px;
                    padding-right: 38px;
                  }
                  span.remove-icon {
                    width: 40px;
                    height: 16px;
                    display: inline-block;

                    &:before{
                      font-family: "ced-icon";
                      font-style: normal;
                      font-variant: normal;
                      color: #9fa1a2;
                      text-transform: none;
                      line-height: 1;
                      content: '\e63c';
                      font-size: 20px;
                      position: absolute;
                      margin-left: 8px;
                    }
                  }
                }
                &:before{
                  content: "";
                  padding: 0;
                }
              }
            }
            &.opened{
              .selector{
                background-color: #3c3c3c;
                border: 2px solid #3c3c3c;
                min-width: 100px;
                text-align: center;
              }
            }

            &:hover{
              .selector {
                border: 2px solid #3c3c3c;
                background-color: #3c3c3c;
                color: #fff;
              }
            }

          }
          .drop-down .cont.top {
            bottom: 29px;
            position: absolute;
            width: 100%;
          }
        }
      }

      h2 {
        margin-top: 16px;
        margin-bottom: 21px;
        margin-left: 0px;
        color: #000;
        font-family: 'osExtraBold';
        font-size: 16px;
        font-weight: normal;

        span.total-violations {
          background-color: #4c4c4c;
          border-bottom-left-radius: 16px;
          border-bottom-right-radius: 16px;
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;
          padding: 4px 8px;
          margin-left: 5px;
          display: inline-block;
          line-height: 16px;
          width: auto;
          color: #fff;
          font-size: 14px;
          min-width: 24px;
          text-align: center;
        }
      }
      footer {
        position: absolute;
        bottom: 0;
        left: 20px;
        right: 20px;
        border-bottom: solid 1px #ededed;
      }

      .drill-down {

        cursor:pointer;
        .loading {
          display: none;
          top: 50%;
          right: 0;
          left: inherit;
          bottom: 0;
          width: 62px;
        }

        &:after {
          position: absolute;
          top: 0;
          right: 0;
          @include icon();
          content: '\e608';
          font-size: 38px;
          color: #272c2f;
          line-height: 110px;
          width: 110px;
          height: 109px;
          text-align: center;
          -webkit-transition: all 0.4s cubic-bezier(0.85, 0, .15, 1);
          -moz-transition: all 0.4s cubic-bezier(0.85, 0, .15, 1);
          -o-transition: all 0.4s cubic-bezier(0.85, 0, .15, 1);
          transition: all 0.4s cubic-bezier(0.85, 0, .15, 1);

        }
//        &:hover {
//          &:after {
//            content: '\e608';
//            background-color: #3c3c3c;
//            color: #fff;
//          }
//        }

        &.opening:after{
          cursor: inherit;
          content: '';
        }
      }

      &:hover {
        .drill-down {
          &:after {
            content: '\e608';
            background-color: #3c3c3c;
            color: #fff;
            padding-left: 10px;
            right: -10px;
          }
          &.opening:after {
              content: '';

              background-color: transparent;
          }
        }
      }

    }

    button {
      background-color: transparent;
      color: #3c3c3c;
      display: block;
      margin: 50px auto;
      align-content: center;
      font-size: 10px;
      font-family: 'osExtraBold';
      padding: 10px 20px;
      border: solid 2px #3c3c3c;
      text-transform: uppercase;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }
    button:hover {
      background-color: #3c3c3c;
      color: #fff;
    }

    .detail-header {
      $transitionTime: 0.4s;


      h2 {
        transition: all $transitionTime;
      }

//      &:hover {
//        h2 {
//          // margin-left: 20px;
//        }
//        .close-section {
//          opacity: 1;
//          width: 20px;
//          &:hover {
//            font-weight: 700;
//          }
//
//        }
//      }
    }

  }

}

.sections .sections-content .closed-section-content {
  p {
    margin: 0 110px 0 3px;
    font-size: 12px;
    font-family: osRegular;
    overflow: hidden;
    max-height: 34px;
  }

  .computing-details {
    div {
      font-size: 12px;
      font-family: osRegular;
      margin-left: 3px;

      em {
        font-style: normal;
      }
    }
    span.compliance-good-close {
      color: #fff;
      display: inline-block;
      height: 8px;
      width: 8px;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid #00bba4;
      vertical-align: middle;
      margin-top: -2px;
      margin-right: 6px;

    }
    span.compliance-warn-close {
      color: #fff;
      display: inline-block;
      height: 8px;
      width: 8px;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid #e68a4f;
      vertical-align: middle;
      margin-top: -2px;
      margin-right: 6px;

    }
    h2 {
      margin-bottom: 11px;
      span {
        &.total-checks {
          background-color: #cdcdcd;
          border-bottom-left-radius: 16px;
          border-bottom-right-radius: 16px;
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;
          padding: 4px 8px;
          margin-left: 5px;
          display: inline-block;
          line-height: 16px;
          width: auto;
          color: #fff;
          font-size: 14px;
        }

        &.checks {
          font-size: 12px;
          font-family: osRegular;
          color: #cdcdcd;
          margin-bottom: -2px;
        }
      }

    }
  }
}

.source-codes {
  position: absolute;
  top: 14px;
  bottom: 0;
  right: 0;
  left: 30px;
  .detail-header{
    h2 {
      color: #000;
      font-family: 'osExtraBold';
      font-size: 16px;
      font-weight: normal;
    }
  }
  .source-code {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 10px;
    overflow: auto;
  }

  table {
    margin-bottom: 30px;
    padding-left: 30px;

    tr {
      td {
        padding: 0 0 0 32px;
        font-weight: normal;
        font-size: 11px;

        em.object-highlight {
          font-family: monospace;
          font-weight: 900;
          font-style: normal;
        }

        &:first-child {
          text-align: right;
          padding: 0 6px;
          background-color: #eaeaea;
          font-family: monospace;
          font-weight: 900;

          &.bookmark {
            background-color: #f00041;
            color: #fff;
          }
        }

        tt, code, kbd, samp {
          font-family: monospace;
        }

        code.hljs {

          padding: 0;
        }
      }
      &:hover td {
        background-color: #f7f7f7;
        &.bookmark {
          background-color: #eeaaaa;
        }
        code.hljs {
          background-color: #f7f7f7;
        }
      }
    }
  }

}

.documentation {

  label {
    margin-left: 36px;
    float: left;
    font-weight: 700;
    font-size: 12px;
    max-width: 114px;
  }

  p, pre {
    font-family: 'osRegular';
    margin-top: 28px;
    margin-left: 150px;
    font-size: 12px;
    margin-right: 72px;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  .rule-name {
    p, pre {
      color: #ffa200;
      font-weight: 700;
      word-wrap: break-word;
      white-space: pre-wrap;
    }
  }

  .rule-reference {
    p, pre {
      color: #bfbfbf;
      font-style: italic;
      word-wrap: break-word;
      white-space: pre-wrap;
    }
  }

}

.drag-container {
  .draggable.left .content .table.table tbody tr{
    border-bottom: solid 1px #f0f0f0;
    &:hover td{
      background-color: #f0f0f0;
      &.weight-column{
            .highlight{background-color: #f0f0f0;}
      }
      &.critical-column{
            .highlight{background-color: #f0f0f0;}
      }
    }
    &.selected:hover td {
      background-color: #3c3c3c;
      &.weight-column{
            .highlight{background-color: #3c3c3c;}
      }
      &.critical-column{
            .highlight{background-color: #3c3c3c;}
      }
    }
  }
  .card-content {
    section {
      width: 100%;
      overflow: hidden;
      .card-header {
        padding: 26px 0 20px 10px;
        height: 49px;
        h2 {
          font-size: 0;
        }
        h3 {

          margin: 0;
          font-family: 'osExtraBold';
          font-size: 16px;
        }
      }
      > div {
        background: #f7f7f7;
        color: #000;
      }
      .section-card-content.left-section .information {
        & > div:after {
          background-color: #000;
          opacity: 0.1;
        }
        .value span {
          background-color: #f7f7f7;
        }
      }

    }

    footer {
      padding: 26px 0 20px 10px;
      p {
        font-size: 12px;
      }
      > div {
        background: #f7f7f7;
        color: #000;
      }
    }

    .section-card-content, .section-card-footer {
      float: left;
      height: 100%;
      width: 50%;

      h3 {
        margin: 0 0 20px 0;
      }

    }
  }
  .content {
    background-color: #fff;
    h1 {
      margin-left: 33px;
      margin-top: 26px;
      margin-bottom: 21px;
      color: #000;
      font-family: 'osExtraBold';
      font-size: 16px;
      font-weight: normal;
    }

    .metric-page {
      position: relative;
      .content-header {
      }
      #tag {
        position: absolute;
        top: 0px;
        right: 85px;
        z-index: 1;
        &.disabled{
          display: none;
        }
        .drop-down.light-grey .selector a {
          background-image: none;

          &:before{
            font-family: "ced-icon";
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            content: '\e601';
            font-size: 32px;
            line-height: 30px;
            margin-left: -3px;
            padding-right: 8px;
          }
        }
        .opened .selector {
          color: #fff !important;
          background-color: #21282b !important;
        }
        .drop-down {
          position: relative;
          height: 38px;
          overflow:visible;
          margin-right: 10px;
          margin-top: -10px;
          .selector {
            background-color: #f1f1f1;
            color: #000;
            line-height: 35px;
            padding-left: 7px;
            padding-right: 1px;
            .tooltiptext {
              visibility: hidden;
              font-size: 12px;
              width: 140px;
              top: 110%;
              font-family: 'osLight', Arial;
              left: 10%;
              margin-left: -40px;
              background-color: #0f0019;
              line-height: 125%;
              color: #ffffff;
              text-align: left;
              padding: 5px 7px 7px 5px;
              border-radius: 3px;
              position: absolute;
              z-index:3;
              text-transform: none;
            }
            &:after {
              visibility: hidden;
              content: "";
              position: absolute;
              bottom: -10%;
              left: 50%;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: transparent transparent #0f0019 transparent;
            }

            &:hover {
              .tooltiptext
              {
                visibility: visible;
              }
              &:after{
                visibility: visible;
              }
            }

            span{
              font-size: 13px;
              font-family: osbold;
              text-transform: uppercase;
              margin-left:2px;
            }
            span.tag-list {
              width: 18px;
              height: 16px;
              display: inline-block;
              margin-left: 15px;
              padding-right: 7px;
            }
          }
          .cont{
            position: absolute;
            right: auto;
            right: 0;
            overflow: auto;
            top: 36px;

            .options {
              line-height: 26px;

              .selectable {
                padding-left: 17px;
                padding-right: 5px;
                border-top: 1px solid #e0e1e2;
              }

              .label {
                font-size: 12px;
                text-transform: capitalize;
                &.hover{
                  color: #ffffff;
                }
                span {
                  margin-right: 10px;
                }

                span.text{
                  text-transform: none;
                }
              }
              .label.disabled{
                margin: 0 auto;
                position: relative;
                font-family: 'osRegular';
                color: #dcdcdc;
                cursor: default;
                text-decoration: none;
                pointer-events: none;
              }
              &:before{
                content: attr(data-before);
                background-color: #21282b ;
                padding-left: 14px;
              }
            }
          }
        }
      }

      .content-actions {
        position: absolute;
        top: -6px;
        right: 17px;
        height: 32px;
      }

      .description {
        margin-top: 36px;
        h2{
          margin: 12px 20px 10px 33px;
          color: #000;
          font-family: 'osExtraBold';
          font-size: 11pt;
          font-weight: normal;
        }
          p {
            margin: 0 20px 0 33px;
            font-size: 13px;
            em {
              font-weight: bold;
              font-style: normal;
            }
          }
      }
    }

    .metric-page2 {
      position:absolute;
      top: 0;
      bottom:0;
      left: 0;
      right: 0;
      .content-header{
        position: absolute;
      }
      .content-actions {
        position: absolute;
        top: 16px;
        right: 17px;
        height: 32px;
      }
      .table-holder{
        position:absolute;
        top: 70px;
        bottom:0;
        left: 0;
        right: 0;
        overflow: auto;
      }
    }

    #quality-rules{
      h1{padding-right: 84px;}
      table.table thead tr th{
        &:last-child{
          font-family: 'ced-icon';
          span.sort-down, span.sort-up{
            color: #000;
            font-family: 'ced-icon';
            opacity: 1 !important;}
            font-weight: 700;
            font-size: 16px;
        }
      }
    }
    .sections .sections-content section{
      &#qi_violations.open .detail-actions{
        right: 58px;
        z-index: 0;
      }
      &#qi_violations.open footer{
        margin-top: 40px;
      }
      &#qi_computing-details h2, &#qi_documentation h2{
        padding-right: 62px;
      }
    }

    .table-distribution {
      margin-right: 20px;
      h2 {
        margin-top: 34px;
        margin-bottom: 10px;
        font-family: 'osExtraBold';
        font-size: 14px;
        span {
          height: 10px;
          width: 24px;
          display: inline-block;
          margin-right: 8px;
          border-radius: 5px;

        }
      }
      .category {
        position: relative;
        min-height: 80px;

        p {
          font-size: 13px;
        }
      }

      button{
        background-color: transparent;
        color: #3c3c3c;
        display: block;
        margin: 25px auto 60px auto;
        align-content: center;
        font-size: 10px;
        font-family: 'osExtraBold';
        padding: 10px 20px;
        border: solid 2px #3c3c3c;
        text-transform: uppercase;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }
      button:hover {
        background-color: #3c3c3c;
        color: #fff;
      }

      .category-very-high {
        h2 {
          color: #f40333;
          span {
            background-color: #f40333;
          }
        }
      }
      .category-high {
        h2 {
          color: #ff4b02;
          span {
            background-color: #ff4b02;
          }
        }
      }
      .category-medium {
        h2 {
          color: #ffa200;
          span {
            background-color: #ffa200;
          }
        }
      }
      .category-low {
        h2 {
          color: #00ba94;
          span {
            background-color: #00ba94;
          }
        }
      }

    }

    #table-holder{
      margin-right: 20px;
      overflow-x: auto;
      z-index: 1; // SCRAIP-16479
    }
    .table-holder {
      margin-left: 33px;
      margin-right: 20px;
      margin-bottom: 16px;
      min-height: 200px;
    }
    .risk-table-message{
      text-align: center;
      font-size: 11px;
      margin: 0px 11% 10px;
      color: #808080;
    }

    .table-violations {
      .status {
        &:after{
          border-style: none;
        }
      }
      .row-selector{
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
        -ms-user-select: none;
        }
      .hide-row{
        label{
          cursor: default;
          &:before{
            border: 1px solid #d0d0d0;
          }
        }
      }

      .exclusion {
        &:before {
          display: inline-block;
          width: 32px;
          height: 32px;
          font-family: "ced-icon";
          line-height: 32px;
          font-size: 32px;
          position: relative;
          content: '\e928';
        }
      }
      .actionPlan {
        &:before {
          display: inline-block;
          width: 32px;
          height: 32px;
          font-family: "ced-icon";
          line-height: 32px;
          font-size: 32px;
          position: relative;
          content: '\e927';
        }
      }

      margin-right: 20px;
      min-height: 200px;
    }

    .table-computing {
      margin-right: 20px;
      .table {
        .computing-total {
          background-color: #f8f8f8;
          font-family: 'osExtraBold';
          td:first-child span {
            color: #434343;
          }
          td:last-child span {
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            padding: 3px 8px;
            display: inline-block;
            line-height: 16px;
            width: auto;
            color: #fff;
            margin-right: 26px;

            &.compliance-good {
              background-color: #00bba4;
            }
            &.compliance-warn {
              background-color: #e69a4f;;
            }
          }
        }
      }
    }

    table.table.compact{
      tbody{
        tr td.right span{
          margin-right: 6px;
        }
      }
    }

    table.table thead tr th.small {
      span, div {
        padding-right: 8px;
      }
      max-width: 90px;
    }

    &.components-investigation{
      .table-holder{}
    }
  }

  .draggable {

    .content {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .content {

    }

    &.right {
      display: block;
      left: 50%;
    }
    &.left {
      display: block;
      .content {
        background-color: #FBFBFB;
      }
      .dragger {
        display: none;
      }

      .sections {
        nav {
          //width: 60px;
          a {
            //width: 54px;
            &:before {
              //margin-left: 11px;
            }

            .notification {
              //right: 11px;
            }
          }
        }

        .sections-content {
          section {
            background-color: #FBFBFB;
          }
          //left: 60px;
        }

        .section-hidden-block {
          //left: 60px
        }
      }
    }
    &.out-of-view {
      display: block;
      left: 100%;
    }
  }

}

.card-content {

  height: 100%;
  position: relative;

  .snapshot-information {
    .information {
      clear: both;
      font-size: 12px;
      font-family: 'osLight';
      .label {
        float: left;
        width: 30%;
        white-space: nowrap;
        overflow: hidden;
      }
      .label:after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #fff;
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
        opacity: 0.4;
      }
      .label > span {
        padding-left: 14px;
      }
      .filler {
        background-color: #fff;
      }
      .value {

        float: right;
        width: 70%;
        text-align: right;
        font-family: 'osBold';
        font-size: 12px;
        letter-spacing: 0.5px;
        white-space: nowrap;
        overflow: hidden;
      }
      .value > span {
        float: right;
        display: inline-block;
        position: relative;
        z-index: 1;
        background-color: #FB6C2D;
        padding-left: 14px;
        padding-right: 24px;
        transition: background-color 0.6s;
      }
      .value:after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: #fff;
        white-space: nowrap;
        vertical-align: middle;
        position: relative;
        z-index: 0;
        opacity: 0.4;
      }
    }
  }
}

a.disabled {
  pointer-events: none;
  cursor: default;
  display: block;
  &:before{
    color: #dcdcdc;
    cursor: default;
  }
}
#qi_violations.open,#as_violations.open {
  tr > td:last-of-type {
    background: #F8F8F8;
  }
  tr.selected > td:last-of-type{
    background: #3c3c3c;
  }
  .detail-actions .export{
    display: inline-block;
    margin-right: 4px;
    width: 44px;
    cursor: pointer;
    &.disabled {
      display: inline-block;
      pointer-events: none;
      color: #dcdcdc;
      .download-file {
        &:before {
          pointer-events: none;
          color: #dcdcdc;
        }
      }
    }
    .download-file {
      float: left;
      font-size: 0;
      cursor: pointer;
      padding-left: 3px;
      height: 27px;
      display: inline-block !important;
      text-decoration: none;
      &:before {
        height: 37px;
        width: 37px;
      }
    }
    .download-title {
      width: 35px;
      text-align: center;
      font-size: 8px;
      padding-left: 3px;
      padding-top: 1px;
      float: left;
      font-family: 'osSemiBold', Arial;
      pointer-events: none;
    }
    &:hover {
      color: #fff;
      background-color: #000;
    }
  }
}
.download-file {
  font-size: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
  overflow: hidden;
  display: inline-block !important;
  text-decoration: none;
  &:before {
    @include icon();
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
    display: inline-block;
    width: 32px;
    text-align: center;
    content: '\e638';
    //-ms-transform: rotate(90deg); /* IE 9 */
    //-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    //transform: rotate(90deg);
  }
}
.educate-action {
  display: inline-flex;
  .educate {
    display: inline-block;
    cursor: pointer;
    &.disabled {
      display: inline-block;
      pointer-events: none;
      color: #dcdcdc;
      .education-icon {
        &:before {
          pointer-events: none;
          color: #dcdcdc;
        }
      }
      .education-title {
        margin-top: -10px;
        width: 30px;
        text-align: center;
      }
    }
    .education-icon {
      float: left;
      cursor: pointer;
      height: 39px;
      display: inline-block !important;
      text-decoration: none;

      &:before {
        @include icon();
        content: '\e92c';
        cursor: pointer;
        font-size: 32px;
        display: inline-block;
        text-align: center;
        font-family: "ced-icon";
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        width: 22px;
        overflow: hidden;
        height: 31px;
        margin-left: 9px;
        margin-top: 1px;
      }
      &:hover {
        width: 6px;
        height: 39px;
        overflow: visible;
      }
    }
    .education-title {
      font-size: 8px;
      width: 30px;
      text-align: center;
      float: left;
      clear: both;
      font-family: 'osSemiBold', Arial;
      padding: 0 5px;
      margin-top: -11px;
      pointer-events: none;

    }
    &:hover {
      color: #fff;
      background-color: #000;
    }
  }
}
.icon-bookmark-on {
  font-size: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
  text-decoration: none;
  &:before {
    @include icon();
    cursor: pointer;
    font-size: 32px;
    color: #4c4c4c;
    line-height: 32px;
    display: inline-block;
    width: 32px;
    text-align: center;
    content:'\e61c';
  }

  &.inactive:before {
    color: #dcdcdc;
    cursor: default;
    pointer-events: none;
  }

}
.icon-bookmark-off {
  font-size: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
  text-decoration: none;
  &:before {
    @include icon();
    cursor: pointer;
    font-size: 32px;
    color: #4c4c4c;
    line-height: 32px;
    display: inline-block;
    width: 32px;
    text-align: center;
    content: '\e61d';
  }
  &.inactive:before {
    color: #dcdcdc;
    cursor: default;
    pointer-events: none;
  }
}



.new-violations-for-quality-rules-tile {
  cursor:default;

  h2 {
    font-size: 14px;
  }

  .critical-control{
    margin-top:8px;
    font-size: 11px;
    position: absolute;

    label{
      float: right;
      margin-left: 8px;
      font-size: 13px;
      color: #bcb9bd;
    }

    &.critical{
      label{
        color: red;
      }
      .tile-switch:checked + div:before{
          background-color: red;
      }
    }
  }

  div.new-violations-rules-container {

    overflow: hidden;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 20px;
    top: 64px;

    .rule-name.no-added{display: block; position: absolute; top: 33%; bottom: 0; width: 100%; font-family: osLight; opacity: 0.4;}

    div.link-to-rule {

      position: relative;
      box-shadow: none;
      border-top-style: solid;
      border-top-width: 1px;
      border-color: #140f13;
      line-height: 26px;
      height: 26px;
      text-align: left;
      font-size: 12px;
      padding: 2px;
      color: rgba(255, 255, 255, 0.78);

      -webkit-transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
      -moz-transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
      -o-transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
      transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;

      &:hover+.link-to-rule{border-color: transparent !important;}

      &:not(.non-clickable):hover {
        background-color: rgba(255, 255, 255, 0.3);
        cursor:pointer;
        border-color: transparent !important;
      }

      .added-violations, .removed-violations, .violation-ratio{
        position:absolute;
        right: 0;
        top: 5px;
        background-color: rgba(255, 255, 255, 0.65);
        border-radius: 10px;
        color: #000;
        min-width: 34px;
        text-align: center;
        line-height: 20px;
        font-family: osExtraBold;
        font-size: 11px;
        padding: 0 4px;

        &.critical:before {
          background-color: #f00;
          border-radius: 50%;
          width: 8px;
          height: 8px;
          content: ' ';
          position: absolute;
          left: -16px;
          top: 7px;
        }
      }
    }
  }
}

.tile-content{
  cursor: pointer;

  .violations-container-empty {
    cursor: default;
    height: 86%;
  }

  h2 {
    font-size: 14px;
  }
  div.technology-container{
    overflow: hidden;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 50px;
    height: 60%;
  }
  table.technology-view{
    thead{
      border-bottom: solid 1px;
      line-height: 15px;
      font-size: 11px;
      font-family: 'osExtraBold', Arial;
      padding-top: 4px;
      font-weight: 400;

      .technology{
        text-align: left;
        padding: 2px;
      }
      .grade{
        text-align: left;
        padding-left: 14px;
      }
      .violations-count{
        text-align: right;
      }
    }
    tbody{
      line-height: 18px;
      font-size: 11px;
      font-family: 'osSemiBold', Arial;
      tr{
        .technology-name{
          text-align: left;
          padding: 2px;
        }
        .technology-grade{
          text-align: center;
        }
        .critical-violations-count{
          text-align: right;
        }
      }
    }

  }
}

.tile-technologies{
  cursor:default;

  div.business-criteria{
    &:before {
      display: none;
    }
    h2 {
      font-size: 14px;
    }
  }

  div.technology-container{
    overflow: hidden;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 50px;
    height: 65%;
  }

  table.technology-view{
    table-layout: fixed;
    thead{
      border-bottom: solid 1px;
      line-height: 15px;
      font-size: 11px;
      font-family: 'osExtraBold', Arial;
      padding-top: 4px;
      font-weight: 400;

      .technology{
        text-align: left;
        padding: 2px;
      }
      .grade{
        text-align: left;
        padding-left: 30px;
      }
      .violations-count{
        text-align: right;
      }
    }
    tbody{
      line-height: 18px;
      font-size: 11px;
      font-family: 'osSemiBold', Arial;
      tr.technologySelector{
        .technology-name{
          text-align: left;
          padding: 2px;
        }
        .technology-grade{
          text-align: center;
        }
        .critical-violations-count{
          text-align: right;
        }
        &:hover{
          transition: background-color 250ms ease-in-out;
          background-color: rgba(255, 255, 255, 0.4);
          cursor: pointer;
          border-color: transparent !important;
        }
      }
      tr.technologySelector.disabled{
        pointer-events: none;
      }
    }
  }
}

.home-page .gridster ul li.AddedViolations {
  &.gs-w {
    cursor: default;
  }
  .disable-tile {
    display: block;
    position: absolute;
    top: 45%;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: osLight;
    opacity: 0.6;
  }
  .added-violations-container {
    cursor: pointer;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    top: 53px;
    overflow: hidden;
    .added-violations {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 148px;
      .value {
        font-size: 34px;
        font-family: 'osExtraBold', Arial;
        padding-top: 6px;
        line-height: 55px;
        margin-bottom: 2px;
        &.large-value {
          font-size: 25px;
        }
      }
      .label {
        text-transform: uppercase;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-size: 9pt;
      }
    }
    .removed-violations {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 148px;
      left: 178px;
      .value {
        font-size: 24px;
        font-family: 'osExtraBold', Arial;
        padding-top: 6px;
        line-height: 55px;
        margin-bottom: 2px;
      }
      .label {
        text-transform: uppercase;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-size: 9pt;
      }
    }
  }

  .compact-col {
      .business-criteria {
        padding-left: 0;
        &:before {display: none;}
        h2 {
          font-size: 11px;
          font-family: osBold;
          line-height: 12px;
        }
        h3 {
          font-size: 10px;
        }
        .business-selector {
          left: -52px;
          .drop-down .selector .label {
            font-size: 10px;
          }
        }
      }
  }
}

/* ===================================================================================================*/
/* ===================================   SMALL PANEL STYLES   ========================================*/
/* ===================================================================================================*/
.draggable.compact {
    .sections .sections-content section{
      .drill-down:after{width: 60px;}
      &:hover .drill-down:after{padding-left: 6px; right: -6px;}
      &#qi_violations.open .detail-actions{
        .pos-2 {right: 36px;}
        .link-to-component-browser{margin-right: 10px;}
      }
      &#qi_computing-details {
        .closed-section-content .computing-details{
          h2 span:first-of-type{display: block; margin-bottom: 8px;}
          &>div{display: none;}
        }
      }
      &#qi_documentation, &#ci_documentation {
        .closed-section-content p{display: none;}
        .documentation{
          label{float: none; display: block; margin-left: 0;}
          pre{margin-left: 0; margin-top: 2px; margin-bottom: 40px;}
        }
      }
   }
}



/* ===================================================================================================*/
/* =========================================   1440   ================================================*/
/* ===================================================================================================*/
@media screen and (max-width: 1439px) and (min-width: 420px) {
  table.table {
    font-size: 11px;
    tbody tr td {
      padding-top: 6px !important;
      padding-bottom: 7px !important;
    }
    thead tr {
      height: 30px;
      th {
        line-height: 14px;
      }
    }
  }
  .drag-container {
    .content {
      .table.table {
        thead {
          font-size: 1em;
        }
      }
    }
  }
}

@media screen and (max-width: 419px) and (min-width: 0px) {
  body, html {
    height: 100%;
  }
  #container > * {
    display: none;
  }
  #container {
    height: 100%;
    position: relative;
  }
  #container:before {
    display: block;
    content: '\e60f';
    border-radius: 50px;
    height: 80px;
    width: 80px;
    background-color: #333b3d;
    color: #fff;
    font-family: "ced-icon";
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15% 0 0 -15%;
  }
}


.table .bar .weight.object-pri {
  background-color: #DC3F3F;
}

.sections .sections-content section.open #show-more .drop-down{
	overflow: visible;
}
.sections .sections-content section.open #show-more .drop-down .cont{
	position: absolute;
	width: 100%;
  height: auto !important;
}
