// FIXME extract colors to a _colorTheme.scss
// FIXME nest components properly instead of too flat data-structure it is hard to see the impacts right away
// FIXME move to it self module or plugin
// ---------------------------------------------------------------
// --------------------------TABLE STYLE--------------------------
// ---------------------------------------------------------------

.array-filter {
  margin: 0 3px 0 0;
  input[type="text"] {
    border:solid thin #FBFBFB;
    background-color: #eee;
    font-size: 10pt;
    transition: all 0.4s;
    line-height: 18px;
    padding: 6px 6px;
    width: 110px;
    &:focus {
      background-color: #fff;
      outline: none;
      border:solid thin #fff;
      border-bottom:solid thin #ddd;
      width: 160px;
    }
    &:hover {
      background-color: #fff;
    }
  }
}

.table-holder {
  overflow-x: auto;

  .no-table-content {
    font-size: 13px;
    font-style: italic;
    color:#E82540;
    position: absolute;
    top: 100px;
  }
}

table {
  width: 100%;
}

.table {
  // min-height: 200px;

  thead {

    tr {
    th{

      position: relative;
      span {
        border: none;
        padding-left: 14px;
      }

      &.left {
        padding-left: 0;
      }
    }
    }

    th.length-1 {
      width: 60px;
    }
    th.length-2 {
      width: 70px;
    }
    th.length-3 {
      width: 70px;
    }
    th.length-4 {
      width: 90px;
    }
    th.status {
      width: 90px;
      min-width: 35px;
    }
    th.disabled {
      pointer-events: none;
      label{
        cursor: default;
      }
    }
    th:after {
      content:'hi';
      font-size: 0;

      position: absolute;
      top: 10px;
      bottom: 10px;
      right: 0;
      border-right: solid 1px #bbb;
    }

    th:last-child:after{
      border-right: none;
    }

    th > span.selector{
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;

      .drop-down{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: inherit;
        font-size: 14px;
        text-transform: none;
        padding-right: 0;

        .options .selectable{
          padding-right: 28px;
        }

        .options:before {
          content: attr(data-before);
          padding-right:58px ;
        }

        .selector{
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          padding:0;
          font-size: 11px;
          font-family: 'osbold';
          text-transform: uppercase;
          color: #707274;

          .label{
            line-height: 40px;

            &:after{
              display:inline;
              width: 16px;
              height: 40px;
              line-height: 42px;
              content: '\e900';
              font-family: 'ced-icon';
              color:#cacaca;
              background: none;
              padding-left: 2px;
            }

          }

          a{
            display: none;
          }
        }
        .cont{
          top: 40px;
          position: absolute;
          right: 0;
          left: auto;
        }

        &.opened .selector {
          background-color: #20282b;
          color: #fff;
          box-shadow: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;

          .label {
            &:after {
              color: #fff;
            }
          }
        }
      }
    }

    th.filter {
      min-width: 50px;

    }

    th.icon {
      font-family: "ced-icon";
      font-size: 16px;
      span {
        font-family: "ced-icon";
      }
    }

    th.filtering {
      > span.selector {

      .selector {
        .label {
          color: #fff;
          &:after {
            color:#fff;
          }
        }
      }
      }
    }


    th.status{
      //display: block;
      position: relative;
      height: 40px;
      padding: 0;

      &.left{
        padding: 0;
      }
      span.label:after{

      }
    }

  }
  &.contract th {
    &.length-1 {
      width: 1px;
    }
    &.length-2 {
      width: 1px;
    }
    &.length-3 {
      width: 1px;
    }
    &.length-4 {
      width: 1px;
    }

  }
  &.compact th {
    & > span.max {
      display: none !important;
    }
    & > span.min {
      display: block !important;
    }
    &.length-1 {
      width: 1px;
    }
    &.length-2 {
      width: 1px;
    }
    &.length-3 {
      width: 1px;
    }
    &.length-4 {
      width: 1px;
    }

  }

  tbody {
    tr {
      td {
        span.critical{
          display: block;
          height: 10px;
          width: 10px;
          border-radius: 5px;
          background-color: #f00;
          margin: 4px auto;
          float: none;
        }
      }
      td.weight-column {
        padding: 0;

        .critical-container {
          width: 25px;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;

          .critical {
            display: block;
            height: 10px;
            width: 10px;
            border-radius: 5px;
            background-color: #f00;
            position: absolute;
            top: 50%;
            margin-top: -5px;
            left: 50%;
            margin-left: -4px;
          }

        }
        .weight-container {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 26px;
          left: -10px;

          .bar {
            height: 8px;
            max-width: 90%;
            min-width: 80%;
            display: block;
            background-color: #e0e0e0;
            border-radius: 4px;
            position: absolute;
            top: 50%;
            margin-top: -4px;
            margin-left: 6px;
          }
        }
        .highlight {
          background-color: #f4f4f4;
        }
      }
    }

    .short-content {}
    .large-content, .super-large-content {display: none;}
  }


  &.large{
    tbody{
      .short-content {display:none;}
      .large-content {display: block;}
    }
  }
  &.super-large{
    tbody{
      .short-content {display:none;}
      .large-content {display: none;}
      .super-large-content {display: block;}
    }
  }


}

th input[type="checkbox"] + label {
//  border-right: solid 1px #bbb;
}

th input[type="checkbox"] {

  &:not(:checked) + label:before,
  &:checked + label:before {
    top: 0px;
  }

  &:not(:checked) + label:after,
  &:checked + label:after {
    top: 4px;
  }
}

input[type="checkbox"]:not(:checked) + label,
input[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 18px;
  cursor: pointer;
}

/* checkbox aspect */
input[type="checkbox"]:not(:checked) + label:before,
input[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: -1px;
  width: 16px;
  height: 16px;
  background: transparent;
  border-radius: 4px;
  border: 1px solid #21282b;
}

input[type="checkbox"]:checked + label:before {
  background: #21282b;
}

/* checked mark aspect */
input[type="checkbox"]:not(:checked) + label:after,
input[type="checkbox"]:checked + label:after {
  font-family: "ced-icon";
  content: '\e617';
  position: absolute;
  top: 3px;
  left: 3px;
  font-size: 12px;
  color: #fff;
  transition: all .2s;
  line-height: 1;
}
.selected input[type="checkbox"]:not(:checked) + label:before,
.selected input[type="checkbox"]:checked + label:before {
  border-color: #fff;
}
.selected input[type="checkbox"]:checked + label:before {
  background-color: #fff;
}
.selected input[type="checkbox"]:checked + label:after {
  color: #000;
}

/* checked mark aspect changes */
input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

input[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* disabled checkbox */
input[type="checkbox"]:disabled:not(:checked) + label:before,
input[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

/* accessibility */
input[type="checkbox"]:checked:focus + label:before,
input[type="checkbox"]:not(:checked):focus + label:before {
  border-radius: 4px;
}

input[type="checkbox"] {
  display: none;
}

.table {
  thead {
    background-color: transparent;
    color: #707274;
    font-family: 'osBold';
    font-size: 11px;

    tr {
      background-color: transparent;
    }

    th {
      background: #eee; /* Old browsers */
      background: -moz-linear-gradient(top, #f0f0f1 0%, #ececec 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #f0f0f1 0%,#ececec 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #f0f0f1 0%,#ececec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f1', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
    }

    tr th {
      span {
        display: block;
//        border-right: solid 1px #bbb;
        height: 14px;
        line-height: 14px;
        label {
          font-family: "ced-icon";
          font-size: 16px;
          line-height: 14px;
          vertical-align: sub;
          cursor: pointer;
        }
      }
      span.selector {
        height: inherit;
        padding: 0;
      }

      &:last-child {
        span {
          border: none;
        }
      }
    }
  }

  tbody {
    width: 810px;
    tr.disabled-row{
      margin: 0 auto;
      position: relative;
      font-family: 'osRegular';
      color: #BDBDBD;
      text-decoration: none;
    }
    .hide-row{
      label{
        cursor: default;
      }
    }
    tr.clickable {
      cursor: pointer;
      &.non-clickable {
        cursor: default;
      }
      &.selected {
        border-bottom-color: transparent;
      }
      &.selected:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        margin-top: -1px;
        margin-left: -100%;
        background-color: #FBFBFB;
      }
    }
    tr.clickable.selected td {
      &.weight-column {
        .weight-container {
          &.highlight {
            background-color: #3c3c3c;
          }
        }
        .critical-container {
          &.highlight {
            background-color: #3c3c3c;
            border-top-right-radius: 26px;
            border-bottom-right-radius: 26px;
          }
        }

      }

      &:first-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
      &:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
      background-color: #3c3c3c;
      color: #ffffff;

      span.fixed-font, span.var-grey {
        /* font-family: 'osBold';
        em {
          font-family: 'osBold';
        } */
        color: #fff;
      }
      span.information-icon {
        &:before {
          color: #fff;
        }
      }
      span.new-label {
        background-color: #fff;
        color: #3c3c3c;
      }
      &.critical-count-label{
        .critical-count{
            color: #fff;
        }

      }
    }

    tr.clickable.selected .link-to-component-browser{
      span{
        a{
          &:before {
            color: #fff;
          }
        }
      }
    }

    tr td {
      /* transition: background-color 0.8s; */
    }

    tr:hover td {
      // RRN Round corners useless here, as we have separator line as well... Having both provides a weird redering
      /*  &:first-child {
         border-top-left-radius: 26px;
         border-bottom-left-radius: 26px;
       }
       &:last-child {
         border-top-right-radius: 26px;
         border-bottom-right-radius: 26px;
       } */

      transition: all 0.4s;
      &.weight-column {
        .highlight {
          background-color: #F8F8F8;
          transition: background-color 0.4s;
        }
      }
      &.critical-column {
        .highlight {
          background-color: #F8F8F8;
          transition: background-color 0.4s;
        }
      }

      background-color: #F8F8F8;
      // color: #000; // causes trouble on edge...
      //font-family: 'osExtraBold';

      span.fixed-font {
        font-family: 'osRegular';
        em {
          font-family: 'osBold';
        }
      }
    }


    tr td {
      &.right span {
        margin-right: 26px;
      }
      span em {
        font-style: normal;
      }
      span.fixed-font {
        display: block;
        font-family: 'osRegular';
        em {
          font-family: 'osBold';
          font-style: normal;
        }
      }
      span.fixed-font-grey {
        font-family: 'osRegular';
        color: #bfbfbf;
      }
      span.emphases {
        font-family: 'osBold';
      }

      span.warn {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        border: solid 1px #ff9f25;
        margin-bottom: 2px;
      }
      span.bad {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        border: solid 1px #e20b11;
        margin-bottom: 2px;
      }
      span.good {
        color: #bfbfbf;
        margin-left: 11px;
      }
      span.score {
        margin-left: 7px;
      }
      span.compliance-good {
        color: #00bba4;
        /* padding-right: 8px; */
      }
      span.compliance-warn {
        color: #e69a4f;

        /* padding-right: 8px; */
      }
      span.empty {
        margin-left: 11px;
      }
      span.grey {
        color: #b4b4b4;
      }
      span.var-grey {
        color: #b4b4b4;
      }

      span.new-label {
        background-color: #000;
        color: #fff;
        border-radius: 4px;
        margin-left: 10px;
        padding: 0px 3px 3px 3px;
        letter-spacing: 0px;
        font-size: 11px;
        display: inline-block;
        line-height: 11px;
        font-family: 'osExtraBold';
      }
      span.educate-icon {
        position: relative;
        &:after {
          font-family: "ced-icon";
          font-style: normal;
          font-weight: 600;
          font-variant: normal;
          text-transform: none;
          line-height: 0.3;
          content: '\e92c';
          font-size: 24px;
          position: relative;
          margin-left: 8px;
          margin-top: -3px;
          display: -webkit-inline-box;
          display:-ms-inline-grid;
        }
      }
      span.educate-icon.disabled {
        &:after {
          color: #dddedf;
        }
      }
      span.information-icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        &:before {
          @include icon();
          content: '\e607';
          font-size: 16px;
          color: #3c3c3c;
          opacity: 0.8;
          margin-left: 5px;
        }

        &.grey {
          &:before {
            color: #b4b4b4;
          }
        }

      }

      span.critical-count{
        height: 20px;
        width: 36px;
        padding: 1px 6px 1px 4px;
        border-radius: 2px;
        &.removed{
          color:#0ec99c;
        }
        &.added{
          color:#fd0002;
        }
      }
    }
  }
  thead tr {
    white-space: nowrap;
    th {
      span:after {
        display: none;
      }
      div:after {
        display: none;
      }
      span.sort-down, div.sort-down, span.sort-up, div.sort-up{color: #000; font-family: 'osExtraBold', Arial; opacity: 1 !important;}
      span.sort-down:after, div.sort-down:after {
        display: inline-block;
        background: none;
        content: "\e613";
        font-size: 9px;
        font-family: "ced-icon";
        width: 9px;
        height: 9px;
        margin-top: 1px;
        margin-left: 3px;
      }
      span.sort-up:after, div.sort-up:after {
        display: inline-block;
        background: none;
        content: "\e614";
        font-size: 9px;
        font-family: "ced-icon";
        width: 9px;
        height: 9px;
        margin-top: 0px;
        margin-left: 3px;
      }
      span.sort.min {
        display: none;
        font-family: "ced-icon";
        font-size: 16px;
        opacity: 0.6;
      }

      span.selector.min {
        display: none;
        .drop-down {
          .selector {
            .label {

              font-family: "ced-icon";
              font-size: 11px;
              opacity: 0.6;
            }
          }
        }
      }

      &.critical-count-label{
        &.new{
          span{
            &::before{
              content: '+';
              background-color: #ff0149;
            }
          }
        }
        &.fix{
          span{
            &::before{
              content: '\2713';
              background-color: #0ec99c;
            }
          }
        }
        span{
          &::before{

            height: 14px;
            width: 20px;
            color: #fff;
            font-size: 9px;
            font-family: 'osExtraBold', Arial;
            border-radius: 4px;
            line-height: 14px;
            text-align: center;
            text-transform: lowercase;
            display: inline-block;
            margin-right: 6px;
            vertical-align: text-bottom;
          }
        }


      }

      &.right span.min{padding-right: 6px;}
      .right{
      span.sort-down:after, div.sort-down:after, span.sort-up:after, div.sort-up:after {margin-left: 1px;}
      }
    }
  }
  tbody {
    tr {
      border-bottom: solid 1px #F8F8F8;
      height: auto;
      -webkit-transition: border 400ms ease-out;
      -moz-transition: border 400ms ease-out;
      -o-transition: border 400ms ease-out;
      transition: border 400ms ease-out;
      td {
        padding-top: 9px;
        padding-bottom: 10px;
        &.status {
          text-transform: capitalize;
        }
      }

      td.left{
        padding-left: 14px;
      }

    }
  }
  .violation-header-size {
    padding : 0;
  }
  .violation-body-size {
    width : 48px;
  }
}

input.action-plan-check[type="checkbox"] {
  opacity: 1;

}

.checkboxFour {
  width: 16px;
  height: 16px;
  background: #ddd;
  margin: 20px 90px;

  border-radius: 100%;
  position: relative;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.violation-checkbox label {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100px;

  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 1;

  background: #333;

  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.violation-checkbox input[type=checkbox]:checked + label {
  background: #26ca28;
}

.action-plan-priority-fill {
  border: 1px solid #606060;
  background-color: #606060;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  display: inline-block;
  margin-right: 2px;

}

.action-plan-priority-empty {
  border: 1px solid #cacaca;
  background-color: #fff;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  display: inline-block;
  margin-right: 2px;

}
.selected .action-plan-priority-fill{background-color: #fff; border-color: #fff;}
.selected .action-plan-priority-empty{background-color: #3c3c3c; border-color: #fff;}

/* ===================================================================================================*/
/* =========================================   1720   ================================================*/
/* ===================================================================================================*/
@media screen and (max-width: 1720px) and (min-width: 1440px) {
  // ---------------------------------------------------------------
  // --------------------------TABLE STYLE--------------------------
  // ---------------------------------------------------------------
      table.table {
        thead {
          th.length-1 {
            width: 60px;
          }
          th.length-2 {
            width: 70px;
          }
          th.length-3 {
            width: 70px;
          }
          th.length-4 {
            width: 90px;
          }

        }
        &.contract th {
          &.length-1 {
            width: 1px;
          }
          &.length-2 {
            width: 1px;
          }
          &.length-3 {
            width: 1px;
          }
          &.length-4 {
            width: 1px;
          }

        }
        &.compact th {
          &.length-1 {
            width: 1px;
          }
          &.length-2 {
            width: 1px;
          }
          &.length-3 {
            width: 1px;
          }
          &.length-4 {
            width: 1px;
          }

        }
  }

}

/* ===================================================================================================*/
/* =========================================   1440   ================================================*/
/* ===================================================================================================*/
@media screen and (max-width: 1439px) and (min-width: 420px) {
  // ---------------------------------------------------------------
  // --------------------------TABLE STYLE--------------------------
  // ---------------------------------------------------------------
    table.table {
      thead {
        th.length-1 {
          width: 60px;
        }
        th.length-2 {
          width: 70px;
        }
        th.length-3 {
          width: 70px;
        }
        th.length-4 {
          width: 90px;
        }

      }
      &.retract th {
        &.length-1 {
          width: 1px;
        }
        &.length-2 {
          width: 1px;
        }
        &.length-3 {
          width: 1px;
        }
        &.length-4 {
          width: 1px;
        }

      }
      &.compact th {
        &.length-1 {
          width: 1px;
        }
        &.length-2 {
          width: 1px;
        }
        &.length-3 {
          width: 1px;
        }
        &.length-4 {
          width: 1px;
        }

      }
  }
}

.disable-component-drilldown {
  opacity: 0.3;
  color: #dcdcdc;
  cursor: default;
}

.table.compact {
  tbody{
    tr {
      td.right{
        span {
          margin-right: 6px;
        }

      }
    }
  }
}
